In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [15]:
# importamos el dataset
df = pd.read_csv("https://raw.githubusercontent.com/stefmolin/Hands-On-Data-Analysis-with-Pandas-2nd-edition/2nd_edition/ch_02/data/earthquakes.csv",
                 sep=",", index_col=False)
df

     alert  ...                                                url
0      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
1      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
2      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
3      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
4      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
...    ...  ...                                                ...
9327   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9328   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9329   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9330   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9331   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...

[9332 rows x 26 columns]

## An√°lisis del dataset

In [3]:
df.head()

  alert  cdi  ...        updated                                                url
0   NaN  NaN  ...  1539475395144  https://earthquake.usgs.gov/earthquakes/eventp...
1   NaN  NaN  ...  1539475253925  https://earthquake.usgs.gov/earthquakes/eventp...
2   NaN  4.4  ...  1539536756176  https://earthquake.usgs.gov/earthquakes/eventp...
3   NaN  NaN  ...  1539475196167  https://earthquake.usgs.gov/earthquakes/eventp...
4   NaN  NaN  ...  1539477547926  https://earthquake.usgs.gov/earthquakes/eventp...

[5 rows x 26 columns]

In [4]:
df.tail()

     alert  ...                                                url
9327   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9328   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9329   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9330   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9331   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...

[5 rows x 26 columns]

In [5]:
df.head(10)

  alert  cdi  ...        updated                                                url
0   NaN  NaN  ...  1539475395144  https://earthquake.usgs.gov/earthquakes/eventp...
1   NaN  NaN  ...  1539475253925  https://earthquake.usgs.gov/earthquakes/eventp...
2   NaN  4.4  ...  1539536756176  https://earthquake.usgs.gov/earthquakes/eventp...
3   NaN  NaN  ...  1539475196167  https://earthquake.usgs.gov/earthquakes/eventp...
4   NaN  NaN  ...  1539477547926  https://earthquake.usgs.gov/earthquakes/eventp...
5   NaN  NaN  ...  1539500579236  https://earthquake.usgs.gov/earthquakes/eventp...
6   NaN  NaN  ...  1539473596465  https://earthquake.usgs.gov/earthquakes/eventp...
7   NaN  NaN  ...  1539476642808  https://earthquake.usgs.gov/earthquakes/eventp...
8   NaN  NaN  ...  1539475027632  https://earthquake.usgs.gov/earthquakes/eventp...
9   NaN  NaN  ...  1539473712040  https://earthquake.usgs.gov/earthquakes/eventp...

[10 rows x 26 columns]

In [6]:
# Podemos analizar la forma del dataset (filas, columnas)
df.shape

(9332, 26)

In [7]:
# Podemos observar los atributos
df.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url'],
      dtype='object')

In [17]:
# Si necesitamos realizar copia de seguridad
df_bak = df.to_csv('fichero_salida.csv', index=False)
df_bak

In [18]:
type(df)

pandas.core.frame.DataFrame

In [19]:
# Realizamos la prueba de subir el fichero.csv
pd.read_csv("/content/fichero_salida.csv")

     alert  ...                                                url
0      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
1      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
2      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
3      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
4      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
...    ...  ...                                                ...
9327   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9328   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9329   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9330   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9331   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...

[9332 rows x 26 columns]

In [21]:
# Comprobamos si el dataframe es vac√≠o
df.empty

False

In [22]:
# Cuando observamos un dataframe verificamos que faltan columnas a observar o filas
df

     alert  ...                                                url
0      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
1      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
2      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
3      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
4      NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
...    ...  ...                                                ...
9327   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9328   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9329   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9330   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
9331   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...

[9332 rows x 26 columns]

Existen una opciones que nos permiten ampliar el margen del dataframe impreso.

In [24]:
pd.get_option('display.max_columns') # recoge la info de las columnas a mostrar

0

In [25]:
pd.set_option('display.max_columns', 26)

In [26]:
df

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,mmi,net,nst,place,rms,sig,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,NaN,ci,26.0,"9km NE of Aguanga, CA",0.19,28,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,NaN,ci,20.0,"9km NE of Aguanga, CA",0.29,26,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,NaN,ci,111.0,"8km NE of Aguanga, CA",0.22,192,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,NaN,ci,26.0,"9km NE of Aguanga, CA",0.17,3,",ci,",automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,NaN,nc,18.0,"10km NW of Avenal, CA",0.05,72,",nc,",automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9327,NaN,NaN,73086771,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.018060,NaN,185.0,",nc73086771,",0.62,md,NaN,nc,13.0,"9km ENE of Mammoth Lakes, CA",0.03,6,",nc,",reviewed,1537230228060,"M 0.6 - 9km ENE of Mammoth Lakes, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1537285598315,https://earthquake.usgs.gov/earthquakes/eventp...
9328,NaN,NaN,38063967,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.030410,NaN,50.0,",ci38063967,",1.00,ml,NaN,ci,28.0,"3km W of Julian, CA",0.21,15,",ci,",reviewed,1537230135130,"M 1.0 - 3km W of Julian, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1537276800970,https://earthquake.usgs.gov/earthquakes/eventp...
9329,NaN,NaN,2018261000,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.452600,NaN,276.0,",pr2018261000,",2.40,md,NaN,pr,9.0,"35km NNE of Hatillo, Puerto Rico",0.41,89,",pr,",reviewed,1537229908180,"M 2.4 - 35km NNE of Hatillo, Puerto Rico",0,earthquake,",geoserve,origin,phase-data,",-240.0,1537243777410,https://earthquake.usgs.gov/earthquakes/eventp...
9330,NaN,NaN,38063959,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.018650,NaN,61.0,",ci38063959,",1.10,ml,NaN,ci,27.0,"9km NE of Aguanga, CA",0.10,19,",ci,",reviewed,1537229545350,"M 1.1 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537230211640,https://earthquake.usgs.gov/earthquakes/eventp...
9331,NaN,NaN,38063935,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.016980,NaN,39.0,",ci38063935,",0.66,ml,NaN,ci,24.0,"9km NE of Aguanga, CA",0.10,7,",ci,",reviewed,1537228864470,"M 0.7 - 9km NE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1537305830770,https://earthquake.usgs.gov/earthquakes/eventp...

In [27]:
# Alternativa
pd.options.display.max_columns = 26

In [ ]:
# Si quiero resetear esta opci√≥n
pd.reset_option('display.max_columns')

In [28]:
# Mostrar√° la guia
pd.describe_option('display')

display.chop_threshold : float or None
    if set to a float value, all float values smaller then the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]
display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]
display.column_space No description available.
    [default: 12] [currently: 12]
display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]
display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]
display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]
display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]
display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]
display.html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 1]
display.html.table_schema : boolean
    Whether to publish a Table Schema representation for frontends
    that support it.
    (default: False)
    [default: False] [currently: False]
display.html.use_mathjax : boolean
    When True, Jupyter notebook will process table contents using MathJax,
    rendering mathematical expressions enclosed by the dollar symbol.
    (default: True)
    [default: True] [currently: True]
display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table (the default from 0.13), or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]
display.latex.escape : bool
    This specifies if the to_latex method of a Dataframe uses escapes special
    characters.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.longtable :bool
    This specifies if the to_latex method of a Dataframe uses the longtable
    format.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.multicolumn : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.multicolumn_format : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: l] [currently: l]
display.latex.multirow : bool
    This specifies if the to_latex method of a Dataframe uses multirows
    to pretty-print MultiIndex rows.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.repr : boolean
    Whether to produce a latex DataFrame representation for jupyter
    environments that support it.
    (default: False)
    [default: False] [currently: False]
display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]
display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 0] [currently: 26]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]
display.max_info_rows : int or None
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]
display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]
display.max_seq_items : int or None
    when pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]
display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]
display.min_rows : int
    The numbers of rows to show in a truncated view (when `max_rows` is
    exceeded). Ignored when `max_rows` is set to None or 0. When set to
    None, follows the value of `max_rows`.
    [default: 10] [currently: 10]
display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]
display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]
display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]
display.precision : int
    Floating point output precision (number of significant digits). This is
    only a suggestion
    [default: 6] [currently: 6]
display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]
display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]

In [29]:
# Tambi√©n nos interesa conocer los tipos de valores que contiene el df
df.dtypes

alert       object
cdi        float64
code        object
detail      object
dmin       float64
felt       float64
gap        float64
ids         object
mag        float64
magType     object
mmi        float64
net         object
nst        float64
place       object
rms        float64
sig          int64
sources     object
status      object
time         int64
title       object
tsunami      int64
type        object
types       object
tz         float64
updated      int64
url         object
dtype: object

In [30]:
# Recogemos informaciones adicionales
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   alert    59 non-null     object
 1   cdi      329 non-null    float64
 2   code     9332 non-null   object
 3   detail   9332 non-null   object
 4   dmin     6139 non-null   float64
 5   felt     329 non-null    float64
 6   gap      6164 non-null   float64
 7   ids      9332 non-null   object
 8   mag      9331 non-null   float64
 9   magType  9331 non-null   object
 10  mmi      93 non-null     float64
 11  net      9332 non-null   object
 12  nst      5364 non-null   float64
 13  place    9332 non-null   object
 14  rms      9332 non-null   float64
 15  sig      9332 non-null   int64
 16  sources  9332 non-null   object
 17  status   9332 non-null   object
 18  time     9332 non-null   int64
 19  title    9332 non-null   object
 20  tsunami  9332 non-null   int64
 21  type     9332 non-null   object
 22  types    9332 non-null   object
 23  tz       9331 non-null   float64
 24  updated  9332 non-null   int64
 25  url      9332 non-null   object
dtypes: float64(9), int64(4), object(13)
memory usage: 1.9+ MB

## EDA (Exploratory Data Analysis) - primera parte

In [31]:
# mostrar√° un peque√±o resumen de los estad√≠sticos b√°sicos
df.describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,329.000000,6139.000000,329.000000,6164.000000,9331.000000,93.000000,5364.000000,9332.000000,9332.000000,9.332000e+03,9332.000000,9331.000000,9.332000e+03
mean,2.754711,0.544925,12.310030,121.506588,1.497345,3.651398,19.053878,0.362122,56.899914,1.538284e+12,0.006537,-451.990140,1.538537e+12
std,1.010637,2.214305,48.954944,72.962363,1.203347,1.790523,15.492315,0.317784,91.872163,6.080306e+08,0.080589,231.752571,6.564135e+08
min,0.000000,0.000648,0.000000,12.000000,-1.260000,0.000000,0.000000,0.000000,0.000000,1.537229e+12,0.000000,-720.000000,1.537230e+12
25%,2.000000,0.020425,1.000000,66.142500,0.720000,2.680000,8.000000,0.119675,8.000000,1.537793e+12,0.000000,-540.000000,1.537996e+12
50%,2.700000,0.059050,2.000000,105.000000,1.300000,3.720000,15.000000,0.210000,26.000000,1.538245e+12,0.000000,-480.000000,1.538621e+12
75%,3.300000,0.177250,5.000000,159.000000,1.900000,4.570000,25.000000,0.590000,56.000000,1.538766e+12,0.000000,-480.000000,1.539110e+12
max,8.400000,53.737000,580.000000,355.910000,7.500000,9.120000,172.000000,1.910000,2015.000000,1.539475e+12,1.000000,720.000000,1.539537e+12

In [32]:
# Tambi√©n podemos utilizar argumentos para formatear esta funci√≥n√ß
df.describe(percentiles=[0.05, 0.95])

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,329.000000,6139.000000,329.000000,6164.000000,9331.000000,93.000000,5364.000000,9332.000000,9332.000000,9.332000e+03,9332.000000,9331.000000,9.332000e+03
mean,2.754711,0.544925,12.310030,121.506588,1.497345,3.651398,19.053878,0.362122,56.899914,1.538284e+12,0.006537,-451.990140,1.538537e+12
std,1.010637,2.214305,48.954944,72.962363,1.203347,1.790523,15.492315,0.317784,91.872163,6.080306e+08,0.080589,231.752571,6.564135e+08
min,0.000000,0.000648,0.000000,12.000000,-1.260000,0.000000,0.000000,0.000000,0.000000,1.537229e+12,0.000000,-720.000000,1.537230e+12
5%,2.000000,0.005491,1.000000,35.000000,-0.040000,0.000000,4.000000,0.030000,0.000000,1.537344e+12,0.000000,-600.000000,1.537387e+12
50%,2.700000,0.059050,2.000000,105.000000,1.300000,3.720000,15.000000,0.210000,26.000000,1.538245e+12,0.000000,-480.000000,1.538621e+12
95%,4.300000,2.678900,40.200000,276.000000,4.400000,6.380000,49.000000,0.960000,298.000000,1.539319e+12,0.000000,-60.000000,1.539400e+12
max,8.400000,53.737000,580.000000,355.910000,7.500000,9.120000,172.000000,1.910000,2015.000000,1.539475e+12,1.000000,720.000000,1.539537e+12

In [33]:
df.describe(include=np.object)

,alert,code,detail,ids,magType,net,place,sources,status,title,type,types,url
count,59,9332,9332,9332,9331,9332,9332,9332,9332,9332,9332,9332,9332
unique,2,9332,9332,9332,10,14,5433,52,2,7807,5,42,9332
top,green,37388954,https://earthquake.usgs.gov/fdsnws/event/1/que...,",ci37371074,",ml,ak,"10km NE of Aguanga, CA",",ak,",reviewed,"M 0.4 - 10km NE of Aguanga, CA",earthquake,",geoserve,origin,phase-data,",https://earthquake.usgs.gov/earthquakes/eventp...
freq,58,1,1,1,6803,3166,306,2981,7797,55,9081,5301,1

In [34]:
# Directamente podemos utilizar el argumento include='all' para incluir todos los atributos
df.describe(include='all')

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,mmi,net,nst,place,rms,sig,sources,status,time,title,tsunami,type,types,tz,updated,url
count,59,329.000000,9332,9332,6139.000000,329.000000,6164.000000,9332,9331.000000,9331,93.000000,9332,5364.000000,9332,9332.000000,9332.000000,9332,9332,9.332000e+03,9332,9332.000000,9332,9332,9331.000000,9.332000e+03,9332
unique,2,NaN,9332,9332,NaN,NaN,NaN,9332,NaN,10,NaN,14,NaN,5433,NaN,NaN,52,2,NaN,7807,NaN,5,42,NaN,NaN,9332
top,green,NaN,37388954,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",ci37371074,",NaN,ml,NaN,ak,NaN,"10km NE of Aguanga, CA",NaN,NaN,",ak,",reviewed,NaN,"M 0.4 - 10km NE of Aguanga, CA",NaN,earthquake,",geoserve,origin,phase-data,",NaN,NaN,https://earthquake.usgs.gov/earthquakes/eventp...
freq,58,NaN,1,1,NaN,NaN,NaN,1,NaN,6803,NaN,3166,NaN,306,NaN,NaN,2981,7797,NaN,55,NaN,9081,5301,NaN,NaN,1
mean,NaN,2.754711,NaN,NaN,0.544925,12.310030,121.506588,NaN,1.497345,NaN,3.651398,NaN,19.053878,NaN,0.362122,56.899914,NaN,NaN,1.538284e+12,NaN,0.006537,NaN,NaN,-451.990140,1.538537e+12,NaN
std,NaN,1.010637,NaN,NaN,2.214305,48.954944,72.962363,NaN,1.203347,NaN,1.790523,NaN,15.492315,NaN,0.317784,91.872163,NaN,NaN,6.080306e+08,NaN,0.080589,NaN,NaN,231.752571,6.564135e+08,NaN
min,NaN,0.000000,NaN,NaN,0.000648,0.000000,12.000000,NaN,-1.260000,NaN,0.000000,NaN,0.000000,NaN,0.000000,0.000000,NaN,NaN,1.537229e+12,NaN,0.000000,NaN,NaN,-720.000000,1.537230e+12,NaN
25%,NaN,2.000000,NaN,NaN,0.020425,1.000000,66.142500,NaN,0.720000,NaN,2.680000,NaN,8.000000,NaN,0.119675,8.000000,NaN,NaN,1.537793e+12,NaN,0.000000,NaN,NaN,-540.000000,1.537996e+12,NaN
50%,NaN,2.700000,NaN,NaN,0.059050,2.000000,105.000000,NaN,1.300000,NaN,3.720000,NaN,15.000000,NaN,0.210000,26.000000,NaN,NaN,1.538245e+12,NaN,0.000000,NaN,NaN,-480.000000,1.538621e+12,NaN
75%,NaN,3.300000,NaN,NaN,0.177250,5.000000,159.000000,NaN,1.900000,NaN,4.570000,NaN,25.000000,NaN,0.590000,56.000000,NaN,NaN,1.538766e+12,NaN,0.000000,NaN,NaN,-480.000000,1.539110e+12,NaN
max,NaN,8.400000,NaN,NaN,53.737000,580.000000,355.910000,NaN,7.500000,NaN,9.120000,NaN,172.000000,NaN,1.910000,2015.000000,NaN,NaN,1.539475e+12,NaN,1.000000,NaN,NaN,720.000000,1.539537e+12,NaN

In [36]:
# Si deseamos conocer los estad√≠sticos de una sola feature
df.rms.describe()

count    9332.000000
mean        0.362122
std         0.317784
min         0.000000
25%         0.119675
50%         0.210000
75%         0.590000
max         1.910000
Name: rms, dtype: float64

In [37]:
# Es lo mismo que realziar esta operaci√≥n: dataframe['nombre atributo']
df['rms'].describe()

count    9332.000000
mean        0.362122
std         0.317784
min         0.000000
25%         0.119675
50%         0.210000
75%         0.590000
max         1.910000
Name: rms, dtype: float64

### Investigamos por cada una de las features o atributo

In [39]:
type(df.rms)

pandas.core.series.Series

In [41]:
df.rms.count()

9332

In [43]:
df.rms.nunique()

823

In [44]:
df.rms.idxmin()

1044

In [46]:
df.alert.nunique() # contabiliza los valores √∫nicos

2

In [45]:
df.alert.unique() #identifica un array con los valores √∫nicos

array([nan, 'green', 'red'], dtype=object)

In [49]:
# Si necesitamos contar y agrupar por valores √∫nicos
df.alert.value_counts()

green    58
red       1
Name: alert, dtype: int64

In [50]:
df.rms.value_counts()

0.1200    253
0.1300    250
0.0300    247
0.1500    228
0.0400    223
         ...
0.0999      1
0.1171      1
0.1275      1
0.1771      1
0.0882      1
Name: rms, Length: 823, dtype: int64

## Subset de un dataframe

Es obtener un dataframe m√°s peque√±o de n columnas

In [52]:
df.mag # obtenemos los valores de un solo atributo

0       1.35
1       1.29
2       3.42
3       0.44
4       2.16
        ...
9327    0.62
9328    1.00
9329    2.40
9330    1.10
9331    0.66
Name: mag, Length: 9332, dtype: float64

In [53]:
df['mag'] # es lo mismo que el anterior

0       1.35
1       1.29
2       3.42
3       0.44
4       2.16
        ...
9327    0.62
9328    1.00
9329    2.40
9330    1.10
9331    0.66
Name: mag, Length: 9332, dtype: float64

In [57]:
df[['mag','alert','title']]

       mag alert                                     title
0     1.35   NaN             M 1.4 - 9km NE of Aguanga, CA
1     1.29   NaN             M 1.3 - 9km NE of Aguanga, CA
2     3.42   NaN             M 3.4 - 8km NE of Aguanga, CA
3     0.44   NaN             M 0.4 - 9km NE of Aguanga, CA
4     2.16   NaN             M 2.2 - 10km NW of Avenal, CA
...    ...   ...                                       ...
9327  0.62   NaN      M 0.6 - 9km ENE of Mammoth Lakes, CA
9328  1.00   NaN               M 1.0 - 3km W of Julian, CA
9329  2.40   NaN  M 2.4 - 35km NNE of Hatillo, Puerto Rico
9330  1.10   NaN             M 1.1 - 9km NE of Aguanga, CA
9331  0.66   NaN             M 0.7 - 9km NE of Aguanga, CA

[9332 rows x 3 columns]

In [60]:
# Un resultado similar al anterior es declarar primero las columnas y luego visualizarlas
columnas = ['mag','title','alert']
df[columnas]

       mag                                     title alert
0     1.35             M 1.4 - 9km NE of Aguanga, CA   NaN
1     1.29             M 1.3 - 9km NE of Aguanga, CA   NaN
2     3.42             M 3.4 - 8km NE of Aguanga, CA   NaN
3     0.44             M 0.4 - 9km NE of Aguanga, CA   NaN
4     2.16             M 2.2 - 10km NW of Avenal, CA   NaN
...    ...                                       ...   ...
9327  0.62      M 0.6 - 9km ENE of Mammoth Lakes, CA   NaN
9328  1.00               M 1.0 - 3km W of Julian, CA   NaN
9329  2.40  M 2.4 - 35km NNE of Hatillo, Puerto Rico   NaN
9330  1.10             M 1.1 - 9km NE of Aguanga, CA   NaN
9331  0.66             M 0.7 - 9km NE of Aguanga, CA   NaN

[9332 rows x 3 columns]

In [62]:
# Tambi√©n podemos utilizar list comprehension
df[
   ['title','alert'] +
   [col for col in df.columns if col.startswith('mag')]
]

                                         title alert   mag magType
0                M 1.4 - 9km NE of Aguanga, CA   NaN  1.35      ml
1                M 1.3 - 9km NE of Aguanga, CA   NaN  1.29      ml
2                M 3.4 - 8km NE of Aguanga, CA   NaN  3.42      ml
3                M 0.4 - 9km NE of Aguanga, CA   NaN  0.44      ml
4                M 2.2 - 10km NW of Avenal, CA   NaN  2.16      md
...                                        ...   ...   ...     ...
9327      M 0.6 - 9km ENE of Mammoth Lakes, CA   NaN  0.62      md
9328               M 1.0 - 3km W of Julian, CA   NaN  1.00      ml
9329  M 2.4 - 35km NNE of Hatillo, Puerto Rico   NaN  2.40      md
9330             M 1.1 - 9km NE of Aguanga, CA   NaN  1.10      ml
9331             M 0.7 - 9km NE of Aguanga, CA   NaN  0.66      ml

[9332 rows x 4 columns]

In [64]:
# Para poder analizar la list comprehension separamos las columnas obtenidas
[col for col in df.columns if col.startswith('mag')]

['mag', 'magType']

In [65]:
['title','time'] \ # este es un separador de l√≠neas
+ [col for col in df.columns if col.startswith('mag')] # el resultado obtenido

['title', 'time', 'mag', 'magType']

In [68]:
# Realizamos operaciones de slicing
df[10:100] # puedo visualizar las filas desde el √≠ndice 10 hasta el 99 (100-1)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,mmi,net,nst,place,rms,sig,sources,status,time,title,tsunami,type,types,tz,updated,url
10,NaN,NaN,37389162,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.005116,NaN,57.00,",ci37389162,",0.50,ml,NaN,ci,20.0,"10km NE of Aguanga, CA",0.2500,4,",ci,",automatic,1539471831030,"M 0.5 - 10km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539472054436,https://earthquake.usgs.gov/earthquakes/eventp...
11,NaN,NaN,2018286010,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.947700,NaN,186.00,",pr2018286010,",2.77,md,NaN,pr,7.0,"53km SE of Punta Cana, Dominican Republic",0.5300,118,",pr,",reviewed,1539471621260,"M 2.8 - 53km SE of Punta Cana, Dominican Republic",0,earthquake,",geoserve,origin,phase-data,",-300.0,1539500530876,https://earthquake.usgs.gov/earthquakes/eventp...
12,NaN,NaN,37389146,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.015170,NaN,76.00,",ci37389146,",0.50,ml,NaN,ci,22.0,"9km NE of Aguanga, CA",0.1500,4,",ci,",automatic,1539470934710,"M 0.5 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539471147309,https://earthquake.usgs.gov/earthquakes/eventp...
13,NaN,NaN,1000hbti,https://earthquake.usgs.gov/fdsnws/event/1/que...,2.193000,NaN,157.00,",us1000hbti,",4.50,mb,NaN,us,NaN,"120km SSW of Banda Aceh, Indonesia",0.6900,312,",us,",reviewed,1539470898340,"M 4.5 - 120km SSW of Banda Aceh, Indonesia",0,earthquake,",geoserve,origin,phase-data,",360.0,1539493516040,https://earthquake.usgs.gov/earthquakes/eventp...
14,NaN,NaN,73096921,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026410,NaN,71.00,",nc73096921,",2.13,md,NaN,nc,25.0,"14km NW of Parkfield, CA",0.0700,70,",nc,",automatic,1539470851950,"M 2.1 - 14km NW of Parkfield, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1539473045436,https://earthquake.usgs.gov/earthquakes/eventp...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,73096766,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.015060,NaN,49.00,",nc73096766,",1.57,md,NaN,nc,21.0,"3km NNE of The Geysers, CA",0.0400,38,",nc,",automatic,1539436429230,"M 1.6 - 3km NNE of The Geysers, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539465377799,https://earthquake.usgs.gov/earthquakes/eventp...
96,NaN,NaN,00660828,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.030000,NaN,88.54,",nn00660828,",0.90,ml,NaN,nn,21.0,"60km E of Big Pine, California",0.1842,12,",nn,",reviewed,1539436205237,"M 0.9 - 60km E of Big Pine, California",0,earthquake,",geoserve,origin,phase-data,",-480.0,1539482676266,https://earthquake.usgs.gov/earthquakes/eventp...
97,NaN,NaN,20280318,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",ak20280318,",1.30,ml,NaN,ak,NaN,"45km WSW of Big Lake, Alaska",0.3900,26,",ak,",automatic,1539436163990,"M 1.3 - 45km WSW of Big Lake, Alaska",0,earthquake,",geoserve,origin,",-540.0,1539443661357,https://earthquake.usgs.gov/earthquakes/eventp...
98,NaN,NaN,20280314,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",ak20280314,",1.80,ml,NaN,ak,NaN,"66km SW of Cantwell, Alaska",0.7100,50,",ak,",automatic,1539435949390,"M 1.8 - 66km SW of Cantwell, Alaska",0,earthquake,",geoserve,origin,",-540.0,1539443661049,https://earthquake.usgs.gov/earthquakes/eventp...
99,NaN,NaN,20280313,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",ak20280313,",1.60,ml,NaN,ak,NaN,"112km NNW of Arctic Village, Alaska",0.9200,39,",ak,",automatic,1539435921824,"M 1.6 - 112km NNW of Arctic Village, Alaska",0,earthquake,",geoserve,origin,",-540.0,1539443660763,https://earthquake.usgs.gov/earthquakes/eventp...

In [71]:
df[['title','mag']][10:100] # obtenemos la visualizaci√≥n de las dos columnas y solo 90 filas

                                                title   mag
10                     M 0.5 - 10km NE of Aguanga, CA  0.50
11  M 2.8 - 53km SE of Punta Cana, Dominican Republic  2.77
12                      M 0.5 - 9km NE of Aguanga, CA  0.50
13         M 4.5 - 120km SSW of Banda Aceh, Indonesia  4.50
14                   M 2.1 - 14km NW of Parkfield, CA  2.13
..                                                ...   ...
95                 M 1.6 - 3km NNE of The Geysers, CA  1.57
96             M 0.9 - 60km E of Big Pine, California  0.90
97               M 1.3 - 45km WSW of Big Lake, Alaska  1.30
98                M 1.8 - 66km SW of Cantwell, Alaska  1.80
99        M 1.6 - 112km NNW of Arctic Village, Alaska  1.60

[90 rows x 2 columns]

In [74]:
df[columnas][10:100] # tambi√©n podemos obtenerlo de esta forma

     mag                                              title alert
10  0.50                     M 0.5 - 10km NE of Aguanga, CA   NaN
11  2.77  M 2.8 - 53km SE of Punta Cana, Dominican Republic   NaN
12  0.50                      M 0.5 - 9km NE of Aguanga, CA   NaN
13  4.50         M 4.5 - 120km SSW of Banda Aceh, Indonesia   NaN
14  2.13                   M 2.1 - 14km NW of Parkfield, CA   NaN
..   ...                                                ...   ...
95  1.57                 M 1.6 - 3km NNE of The Geysers, CA   NaN
96  0.90             M 0.9 - 60km E of Big Pine, California   NaN
97  1.30               M 1.3 - 45km WSW of Big Lake, Alaska   NaN
98  1.80                M 1.8 - 66km SW of Cantwell, Alaska   NaN
99  1.60        M 1.6 - 112km NNW of Arctic Village, Alaska   NaN

[90 rows x 3 columns]

In [75]:
# El orden no importa
df[10:100][columnas].equals(df[columnas][10:100])

True

## Indexing: Realizar subset con √≠ndices

In [82]:
# la funci√≥n loc() utilizar√° los nombres
x = df.loc[10:99, 'title']
x

10                       M 0.5 - 10km NE of Aguanga, CA
11    M 2.8 - 53km SE of Punta Cana, Dominican Republic
12                        M 0.5 - 9km NE of Aguanga, CA
13           M 4.5 - 120km SSW of Banda Aceh, Indonesia
14                     M 2.1 - 14km NW of Parkfield, CA
                            ...
95                   M 1.6 - 3km NNE of The Geysers, CA
96               M 0.9 - 60km E of Big Pine, California
97                 M 1.3 - 45km WSW of Big Lake, Alaska
98                  M 1.8 - 66km SW of Cantwell, Alaska
99          M 1.6 - 112km NNW of Arctic Village, Alaska
Name: title, Length: 90, dtype: object

In [84]:
type(x) # el valor obtenido es un conjunto de Series

pandas.core.series.Series

In [86]:
df.loc[110:112, 'title'] = df.loc[110:112, 'title'].str.lower()
df.loc[110:112, 'title']

110               m 1.1 - 35km s of ester, alaska
111    m 1.9 - 93km wnw of arctic village, alaska
112      m 0.9 - 20km wsw of smith valley, nevada
Name: title, dtype: object

In [87]:
df.loc[:,'mag']

0       1.35
1       1.29
2       3.42
3       0.44
4       2.16
        ...
9327    0.62
9328    1.00
9329    2.40
9330    1.10
9331    0.66
Name: mag, Length: 9332, dtype: float64

In [88]:
df.loc[10:15, ['title','mag','time']]

                                                title   mag           time
10                     M 0.5 - 10km NE of Aguanga, CA  0.50  1539471831030
11  M 2.8 - 53km SE of Punta Cana, Dominican Republic  2.77  1539471621260
12                      M 0.5 - 9km NE of Aguanga, CA  0.50  1539470934710
13         M 4.5 - 120km SSW of Banda Aceh, Indonesia  4.50  1539470898340
14                   M 2.1 - 14km NW of Parkfield, CA  2.13  1539470851950
15       M 2.0 - 156km WNW of Haines Junction, Canada  2.00  1539470304219

In [89]:
# es lo mismo que 
df.loc[10:15, columnas]

     mag                                              title alert
10  0.50                     M 0.5 - 10km NE of Aguanga, CA   NaN
11  2.77  M 2.8 - 53km SE of Punta Cana, Dominican Republic   NaN
12  0.50                      M 0.5 - 9km NE of Aguanga, CA   NaN
13  4.50         M 4.5 - 120km SSW of Banda Aceh, Indonesia   NaN
14  2.13                   M 2.1 - 14km NW of Parkfield, CA   NaN
15  2.00       M 2.0 - 156km WNW of Haines Junction, Canada   NaN

In [91]:
# con iloc() realizamos la operaci√≥n por posici√≥n
df.iloc[10:15, [19,8]] # columnas 19 y 8

                                                title   mag
10                     M 0.5 - 10km NE of Aguanga, CA  0.50
11  M 2.8 - 53km SE of Punta Cana, Dominican Republic  2.77
12                      M 0.5 - 9km NE of Aguanga, CA  0.50
13         M 4.5 - 120km SSW of Banda Aceh, Indonesia  4.50
14                   M 2.1 - 14km NW of Parkfield, CA  2.13

In [92]:
df.iloc[10:15, 6:10] # slice de columnas

      gap             ids   mag magType
10   57.0    ,ci37389162,  0.50      ml
11  186.0  ,pr2018286010,  2.77      md
12   76.0    ,ci37389146,  0.50      ml
13  157.0    ,us1000hbti,  4.50      mb
14   71.0    ,nc73096921,  2.13      md

In [93]:
# Si queremos evaluar iloc y loc
df.iloc[10:15, 6:10].equals(
    df.loc[10:14, 'gap':'magType']
)

True

## Uso de filtros

In [96]:
df.mag > 3

0       False
1       False
2        True
3       False
4       False
        ...
9327    False
9328    False
9329    False
9330    False
9331    False
Name: mag, Length: 9332, dtype: bool

In [98]:
# Si necesitamos solo visualizar los resultados basada en una condici√≥n
df[df.mag >= 7.]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,mmi,net,nst,place,rms,sig,sources,status,time,title,tsunami,type,types,tz,updated,url
837,green,4.1,1000haa3,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.763,3.0,14.0,",us1000haa3,pt18283003,at00pgehsk,",7.0,mww,7.46,us,NaN,"117km E of Kimbe, Papua New Guinea",1.22,755,",us,pt,at,",reviewed,1539204500290,"M 7.0 - 117km E of Kimbe, Papua New Guinea",1,earthquake,",dyfi,finite-fault,general-text,geoserve,groun...",600.0,1539378744253,https://earthquake.usgs.gov/earthquakes/eventp...
5263,red,8.4,1000h3p4,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.589,18.0,27.0,",us1000h3p4,us1000h4p4,",7.5,mww,9.12,us,NaN,"78km N of Palu, Indonesia",1.27,2015,",us,us,",reviewed,1538128963480,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake,",dyfi,finite-fault,general-text,geoserve,groun...",480.0,1539123134531,https://earthquake.usgs.gov/earthquakes/eventp...

In [99]:
# Tambi√©n podemos obtenerlo con loc
df.loc[
       df.mag >= 7.,
       ['alert','mag','magType','title','type']
]

,alert,mag,magType,title,type
837,green,7.0,mww,"M 7.0 - 117km E of Kimbe, Papua New Guinea",earthquake
5263,red,7.5,mww,"M 7.5 - 78km N of Palu, Indonesia",earthquake

In [101]:
# Alternamos con multiples condiciones AND y OR
df.loc[
       (df.tsunami == 1) & (df.alert == 'red'),
       ['alert','mag','magType','title','type','tsunami','time']
]

,alert,mag,magType,title,type,tsunami,time
5263,red,7.5,mww,"M 7.5 - 78km N of Palu, Indonesia",earthquake,1,1538128963480

In [103]:
df.loc[
       (df.tsunami == 1) | (df.alert == 'red'),
       ['alert','mag','magType','title','tsunami','type']
]

,alert,mag,magType,title,tsunami,type
36,NaN,5.0,mww,"M 5.0 - 165km NNW of Flying Fish Cove, Christm...",1,earthquake
118,green,6.7,mww,"M 6.7 - 262km NW of Ozernovskiy, Russia",1,earthquake
501,green,5.6,mww,"M 5.6 - 128km SE of Kimbe, Papua New Guinea",1,earthquake
799,green,6.5,mww,"M 6.5 - 148km S of Severo-Kuril'sk, Russia",1,earthquake
816,green,6.2,mww,"M 6.2 - 94km SW of Kokopo, Papua New Guinea",1,earthquake
...,...,...,...,...,...,...
8561,NaN,5.4,mb,"M 5.4 - 228km S of Taron, Papua New Guinea",1,earthquake
8624,NaN,5.1,mb,"M 5.1 - 278km SE of Pondaguitan, Philippines",1,earthquake
9133,green,5.1,ml,"M 5.1 - 64km SSW of Kaktovik, Alaska",1,earthquake
9175,NaN,5.2,mb,"M 5.2 - 126km N of Dili, East Timor",1,earthquake
9304,NaN,5.1,mb,"M 5.1 - 34km NW of Finschhafen, Papua New Guinea",1,earthquake

In [105]:
# podemos crear subset con filtros notnull e isnull()
df.loc[
       (df.place.str.contains('Alaska')) & (df.alert.notnull()),
       ['alert','mag','magType','title','tsunami','type']
]

,alert,mag,magType,title,tsunami,type
1015,green,5.0,ml,"M 5.0 - 61km SSW of Chignik Lake, Alaska",1,earthquake
1273,green,4.0,ml,"M 4.0 - 71km SW of Kaktovik, Alaska",1,earthquake
1795,green,4.0,ml,"M 4.0 - 60km WNW of Valdez, Alaska",1,earthquake
2752,green,4.0,ml,"M 4.0 - 67km SSW of Kaktovik, Alaska",1,earthquake
3260,green,3.9,ml,"M 3.9 - 44km N of North Nenana, Alaska",0,earthquake
4101,green,4.2,ml,"M 4.2 - 131km NNW of Arctic Village, Alaska",0,earthquake
6897,green,3.8,ml,"M 3.8 - 80km SSW of Kaktovik, Alaska",0,earthquake
8524,green,3.8,ml,"M 3.8 - 69km SSW of Kaktovik, Alaska",0,earthquake
9133,green,5.1,ml,"M 5.1 - 64km SSW of Kaktovik, Alaska",1,earthquake

In [108]:
# Puedo realizar tambi√©n filtros por b√∫squeda de patrones, RegEx o expresi√≥n regular
df.loc[
      (df.place.str.contains(r'CA|California$|CALIFORNIA')) & (df.mag > 3.8),
       ['alert','mag','magType','title','tsunami','type']
]

,alert,mag,magType,title,tsunami,type
1465,green,3.83,mw,"M 3.8 - 109km WNW of Trinidad, CA",0,earthquake
2414,green,3.83,mw,"M 3.8 - 5km SW of Tres Pinos, CA",1,earthquake

In [109]:
# uso del between
df.loc[
       df.mag.between(6.5, 7.5),
       ['alert','mag','magType','title','tsunami','type']
]

,alert,mag,magType,title,tsunami,type
118,green,6.7,mww,"M 6.7 - 262km NW of Ozernovskiy, Russia",1,earthquake
799,green,6.5,mww,"M 6.5 - 148km S of Severo-Kuril'sk, Russia",1,earthquake
837,green,7.0,mww,"M 7.0 - 117km E of Kimbe, Papua New Guinea",1,earthquake
4363,green,6.7,mww,"M 6.7 - 263km NNE of Ndoi Island, Fiji",1,earthquake
5263,red,7.5,mww,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake

In [110]:
# Tambi√©n podemos filtrar por isin()
df.loc[
       df.magType.isin(['mw','mwb']),
       ['alert','mag','magType','title','tsunami','type']
]

,alert,mag,magType,title,tsunami,type
995,NaN,3.35,mw,"M 3.4 - 9km WNW of Cobb, CA",0,earthquake
1465,green,3.83,mw,"M 3.8 - 109km WNW of Trinidad, CA",0,earthquake
2414,green,3.83,mw,"M 3.8 - 5km SW of Tres Pinos, CA",1,earthquake
4988,green,4.41,mw,"M 4.4 - 1km SE of Delta, B.C., MX",1,earthquake
6307,green,5.80,mwb,"M 5.8 - 297km NNE of Ndoi Island, Fiji",0,earthquake
8257,green,5.70,mwb,"M 5.7 - 175km SSE of Lambasa, Fiji",0,earthquake

In [112]:
# Podemos filtrar por √≠ndice m√°ximo e √≠ndice m√≠nimo
indices = [df.mag.idxmin(), df.mag.idxmax()]
indices

[2409, 5263]

In [113]:
df.loc[
       indices,
       ['alert','mag','magType','title','tsunami','type']
]

,alert,mag,magType,title,tsunami,type
2409,NaN,-1.26,ml,"M -1.3 - 41km ENE of Adak, Alaska",0,earthquake
5263,red,7.50,mww,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake

In [114]:
# Qu√© pasar√≠a si utilizara el filter()
df.filter(items=['mag','magType']).head()

    mag magType
0  1.35      ml
1  1.29      ml
2  3.42      ml
3  0.44      ml
4  2.16      md

In [115]:
df.filter(like='mag').head()

    mag magType
0  1.35      ml
1  1.29      ml
2  3.42      ml
3  0.44      ml
4  2.16      md

In [116]:
# utilizamos filter y regex
df.filter(regex=r'^t').head()

,time,title,tsunami,type,types,tz
0,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0
1,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0
2,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0
3,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0
4,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0

In [119]:
# Si utilizamos filter() y axis
X = df.set_index('place').filter(like='Japan', axis=0).filter(
    items=['mag','magType','title']
).head()
X

                             mag magType                                title
place
160km NNW of Nago, Japan     4.6      mb     M 4.6 - 160km NNW of Nago, Japan
7km ESE of Asahi, Japan      5.2     mww      M 5.2 - 7km ESE of Asahi, Japan
14km E of Tomakomai, Japan   4.5     mwr   M 4.5 - 14km E of Tomakomai, Japan
139km WSW of Naze, Japan     4.7      mb     M 4.7 - 139km WSW of Naze, Japan
53km ESE of Kamaishi, Japan  4.6      mb  M 4.6 - 53km ESE of Kamaishi, Japan

In [120]:
type(X)

pandas.core.frame.DataFrame

In [121]:
Y = df.set_index('place').title.filter(like='Japan').head()
Y

place
160km NNW of Nago, Japan          M 4.6 - 160km NNW of Nago, Japan
7km ESE of Asahi, Japan            M 5.2 - 7km ESE of Asahi, Japan
14km E of Tomakomai, Japan      M 4.5 - 14km E of Tomakomai, Japan
139km WSW of Naze, Japan          M 4.7 - 139km WSW of Naze, Japan
53km ESE of Kamaishi, Japan    M 4.6 - 53km ESE of Kamaishi, Japan
Name: title, dtype: object

In [122]:
type(Y)

pandas.core.series.Series

## A√±adir y quitar datos

In [124]:
# Podemos realizar una carga de datos parciales
df = pd.read_csv("https://raw.githubusercontent.com/stefmolin/Hands-On-Data-Analysis-with-Pandas-2nd-edition/2nd_edition/ch_02/data/earthquakes.csv",
                 usecols=['time','title','place','magType',
                          'mag','alert','type','tsunami'])
df

,alert,mag,magType,place,time,title,tsunami,type
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake
2,NaN,3.42,ml,"8km NE of Aguanga, CA",1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake
3,NaN,0.44,ml,"9km NE of Aguanga, CA",1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake
4,NaN,2.16,md,"10km NW of Avenal, CA",1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake
...,...,...,...,...,...,...,...,...
9327,NaN,0.62,md,"9km ENE of Mammoth Lakes, CA",1537230228060,"M 0.6 - 9km ENE of Mammoth Lakes, CA",0,earthquake
9328,NaN,1.00,ml,"3km W of Julian, CA",1537230135130,"M 1.0 - 3km W of Julian, CA",0,earthquake
9329,NaN,2.40,md,"35km NNE of Hatillo, Puerto Rico",1537229908180,"M 2.4 - 35km NNE of Hatillo, Puerto Rico",0,earthquake
9330,NaN,1.10,ml,"9km NE of Aguanga, CA",1537229545350,"M 1.1 - 9km NE of Aguanga, CA",0,earthquake
9331,NaN,0.66,ml,"9km NE of Aguanga, CA",1537228864470,"M 0.7 - 9km NE of Aguanga, CA",0,earthquake

In [125]:
# Podemos crear un nuevo atributo vac√≠o o con valores por defecto
df['source'] = 'USGS API'

In [126]:
df.head(10)

,alert,mag,magType,place,time,title,tsunami,type,source
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,USGS API
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,USGS API
2,NaN,3.42,ml,"8km NE of Aguanga, CA",1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,USGS API
3,NaN,0.44,ml,"9km NE of Aguanga, CA",1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,USGS API
4,NaN,2.16,md,"10km NW of Avenal, CA",1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,USGS API
5,NaN,2.61,md,"55km ESE of Punta Cana, Dominican Republic",1539473686440,"M 2.6 - 55km ESE of Punta Cana, Dominican Repu...",0,earthquake,USGS API
6,NaN,1.70,ml,"105km W of Talkeetna, Alaska",1539473176017,"M 1.7 - 105km W of Talkeetna, Alaska",0,earthquake,USGS API
7,NaN,1.13,md,"10km NW of Parkfield, CA",1539473060280,"M 1.1 - 10km NW of Parkfield, CA",0,earthquake,USGS API
8,NaN,0.92,md,"6km NW of The Geysers, CA",1539473042310,"M 0.9 - 6km NW of The Geysers, CA",0,earthquake,USGS API
9,NaN,4.70,mb,"219km SSE of Saparua, Indonesia",1539472814760,"M 4.7 - 219km SSE of Saparua, Indonesia",0,earthquake,USGS API

In [127]:
df.mag < 0

0       False
1       False
2       False
3       False
4       False
        ...
9327    False
9328    False
9329    False
9330    False
9331    False
Name: mag, Length: 9332, dtype: bool

In [128]:
# Creamos un nuevo atributo con una condici√≥n del atributo mag < 0
df['mag_negative'] = df.mag < 0
df

,alert,mag,magType,place,time,title,tsunami,type,source,mag_negative
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,USGS API,False
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,USGS API,False
2,NaN,3.42,ml,"8km NE of Aguanga, CA",1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,USGS API,False
3,NaN,0.44,ml,"9km NE of Aguanga, CA",1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,USGS API,False
4,NaN,2.16,md,"10km NW of Avenal, CA",1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,USGS API,False
...,...,...,...,...,...,...,...,...,...,...
9327,NaN,0.62,md,"9km ENE of Mammoth Lakes, CA",1537230228060,"M 0.6 - 9km ENE of Mammoth Lakes, CA",0,earthquake,USGS API,False
9328,NaN,1.00,ml,"3km W of Julian, CA",1537230135130,"M 1.0 - 3km W of Julian, CA",0,earthquake,USGS API,False
9329,NaN,2.40,md,"35km NNE of Hatillo, Puerto Rico",1537229908180,"M 2.4 - 35km NNE of Hatillo, Puerto Rico",0,earthquake,USGS API,False
9330,NaN,1.10,ml,"9km NE of Aguanga, CA",1537229545350,"M 1.1 - 9km NE of Aguanga, CA",0,earthquake,USGS API,False
9331,NaN,0.66,ml,"9km NE of Aguanga, CA",1537228864470,"M 0.7 - 9km NE of Aguanga, CA",0,earthquake,USGS API,False

In [129]:
df[df.mag < 0] # realizamos un subset para visualizar la condici√≥n anterior

,alert,mag,magType,place,time,title,tsunami,type,source,mag_negative
39,NaN,-0.10,ml,"6km NW of Lemmon Valley, Nevada",1539458844506,"M -0.1 - 6km NW of Lemmon Valley, Nevada",0,earthquake,USGS API,True
49,NaN,-0.10,ml,"6km NW of Lemmon Valley, Nevada",1539455017464,"M -0.1 - 6km NW of Lemmon Valley, Nevada",0,earthquake,USGS API,True
135,NaN,-0.40,ml,"10km SSE of Beatty, Nevada",1539422175717,"M -0.4 - 10km SSE of Beatty, Nevada",0,earthquake,USGS API,True
161,NaN,-0.02,md,"20km SSE of Ronan, Montana",1539412475360,"M -0.0 - 20km SSE of Ronan, Montana",0,earthquake,USGS API,True
198,NaN,-0.20,ml,"60km N of Pahrump, Nevada",1539398340822,"M -0.2 - 60km N of Pahrump, Nevada",0,earthquake,USGS API,True
...,...,...,...,...,...,...,...,...,...,...
9202,NaN,-0.11,ml,"42km ENE of Adak, Alaska",1537257741590,"M -0.1 - 42km ENE of Adak, Alaska",0,earthquake,USGS API,True
9241,NaN,-0.69,ml,"42km ENE of Adak, Alaska",1537249710450,"M -0.7 - 42km ENE of Adak, Alaska",0,earthquake,USGS API,True
9261,NaN,-0.02,ml,"28km S of Morton, Washington",1537245303560,"M -0.0 - 28km S of Morton, Washington",0,earthquake,USGS API,True
9267,NaN,-0.32,md,"30km ENE of Seeley Lake, Montana",1537244570780,"M -0.3 - 30km ENE of Seeley Lake, Montana",0,earthquake,USGS API,True
9305,NaN,-0.27,ml,"49km W of Tanaga Volcano, Alaska",1537235444640,"M -0.3 - 49km W of Tanaga Volcano, Alaska",0,earthquake,USGS API,True

In [130]:
df[df.mag < 0].describe()

              mag          time  tsunami
count  491.000000  4.910000e+02    491.0
mean    -0.339593  1.538237e+12      0.0
std      0.252297  5.649134e+08      0.0
min     -1.260000  1.537235e+12      0.0
25%     -0.500000  1.537815e+12      0.0
50%     -0.300000  1.538154e+12      0.0
75%     -0.130000  1.538687e+12      0.0
max     -0.010000  1.539459e+12      0.0

In [131]:
# Operamos con las expresiones regulares
df.place.str.extract(r', (.*$)')[0].sort_values().unique()

array(['Afghanistan', 'Alaska', 'Argentina', 'Arizona', 'Arkansas',
       'Australia', 'Azerbaijan', 'B.C., MX', 'Barbuda', 'Bolivia',
       'Bonaire, Saint Eustatius and Saba ', 'British Virgin Islands',
       'Burma', 'CA', 'California', 'Canada', 'Chile', 'China',
       'Christmas Island', 'Colombia', 'Colorado', 'Costa Rica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Ecuador region',
       'El Salvador', 'Fiji', 'Greece', 'Greenland', 'Guam', 'Guatemala',
       'Haiti', 'Hawaii', 'Honduras', 'Idaho', 'Illinois', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Italy', 'Jamaica', 'Japan', 'Kansas',
       'Kentucky', 'Kyrgyzstan', 'Martinique', 'Mauritius', 'Mayotte',
       'Mexico', 'Missouri', 'Montana', 'NV', 'Nevada', 'New Caledonia',
       'New Hampshire', 'New Mexico', 'New Zealand', 'Nicaragua',
       'North Carolina', 'Northern Mariana Islands', 'Oklahoma', 'Oregon',
       'Pakistan', 'Papua New Guinea', 'Peru', 'Philippines',
       'Puerto Rico', 'Romania', 'Russia', 'Saint Helena',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Carolina',
       'South Georgia and the South Sandwich Islands',
       'South Sandwich Islands', 'Taiwan', 'Tajikistan', 'Tennessee',
       'Texas', 'Tonga', 'Turkey', 'U.S. Virgin Islands', 'Utah',
       'Uzbekistan', 'Vanuatu', 'Vermont', 'Washington', 'Wyoming',
       'Yemen', nan], dtype=object)

In [133]:
# Operamos con transformaci√≥n de unos valores
df['parsed_place'] = df.place.str.replace(
    r'.* of ', '', regex=True # elimina cualquier elemento que tenga of
).str.replace(
    'the ', '' # eliminamos el the
).str.replace(
    r'CA$', 'California', regex=True
).str.replace(
    r'NV$', 'Nevada', regex=True
).str.replace(
    r'MX$', 'Mexico', regex=True
).str.replace(
    r' region$', '', regex=True
).str.replace(
    'Fiji Islands', 'Fiji'
).str.replace(
    r'^.*, ', '', regex=True # elimina cualquier cosa rara que encuentra al principio del texto
).str.strip() # elimina cualquier espacio

In [134]:
df.parsed_place.sort_values().unique()

array(['Afghanistan', 'Alaska', 'Argentina', 'Arizona', 'Arkansas',
       'Ascension Island', 'Australia', 'Azerbaijan', 'Balleny Islands',
       'Barbuda', 'Bolivia', 'British Virgin Islands', 'Burma',
       'California', 'Canada', 'Carlsberg Ridge',
       'Central East Pacific Rise', 'Central Mid-Atlantic Ridge', 'Chile',
       'China', 'Christmas Island', 'Colombia', 'Colorado', 'Costa Rica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'El Salvador',
       'Fiji', 'Greece', 'Greenland', 'Guam', 'Guatemala', 'Haiti',
       'Hawaii', 'Honduras', 'Idaho', 'Illinois', 'India',
       'Indian Ocean Triple Junction', 'Indonesia', 'Iran', 'Iraq',
       'Italy', 'Jamaica', 'Japan', 'Kansas', 'Kentucky',
       'Kermadec Islands', 'Kuril Islands', 'Kyrgyzstan', 'Martinique',
       'Mauritius', 'Mayotte', 'Mexico', 'Mid-Indian Ridge', 'Missouri',
       'Montana', 'Nevada', 'New Caledonia', 'New Hampshire',
       'New Mexico', 'New Zealand', 'Nicaragua', 'North Carolina',
       'Northern East Pacific Rise', 'Northern Mariana Islands',
       'Northern Mid-Atlantic Ridge', 'Oklahoma', 'Oregon',
       'Pacific-Antarctic Ridge', 'Pakistan', 'Papua New Guinea', 'Peru',
       'Philippines', 'Prince Edward Islands', 'Puerto Rico',
       'Queen Charlotte Islands', 'Romania', 'Russia',
       'Saint Eustatius and Saba', 'Saint Helena', 'Socotra',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Carolina',
       'South Georgia and South Sandwich Islands',
       'South Sandwich Islands', 'Southeast Indian Ridge',
       'Southern East Pacific Rise', 'Southern Mid-Atlantic Ridge',
       'Southwest Indian Ridge', 'Taiwan', 'Tajikistan', 'Tennessee',
       'Texas', 'Tonga', 'Turkey', 'U.S. Virgin Islands', 'Utah',
       'Uzbekistan', 'Vanuatu', 'Vermont', 'Washington',
       'Western Indian-Antarctic Ridge', 'Western Xizang', 'Wyoming',
       'Yemen', 'northern Sumatra'], dtype=object)

In [137]:
# una v√°lida alternativa es utilizar assign()
df.assign(
    in_ca=df.parsed_place.str.endswith('California'),
    in_alaska=df.parsed_place.str.endswith('Alaska')).sample(5, random_state=0)

,alert,mag,magType,place,time,title,tsunami,type,source,mag_negative,parsed_place,in_ca,in_alaska
7207,NaN,4.80,mwr,"73km SSW of Masachapa, Nicaragua",1537749595210,"M 4.8 - 73km SSW of Masachapa, Nicaragua",0,earthquake,USGS API,False,Nicaragua,False,False
4755,NaN,1.09,ml,"28km NNW of Packwood, Washington",1538227540460,"M 1.1 - 28km NNW of Packwood, Washington",0,earthquake,USGS API,False,Washington,False,False
4595,NaN,1.80,ml,"77km SSW of Kaktovik, Alaska",1538259609862,"M 1.8 - 77km SSW of Kaktovik, Alaska",0,earthquake,USGS API,False,Alaska,False,True
3566,NaN,1.50,ml,"102km NW of Arctic Village, Alaska",1538464751822,"M 1.5 - 102km NW of Arctic Village, Alaska",0,earthquake,USGS API,False,Alaska,False,True
2182,NaN,0.90,ml,"26km ENE of Pine Valley, CA",1538801713880,"M 0.9 - 26km ENE of Pine Valley, CA",0,earthquake,USGS API,False,California,True,False

In [138]:
# Tambi√©n podemos hacer uso de la funci√≥n lambda()
df.assign(
    in_ca=df.parsed_place == 'California',
    in_alaska=df.parsed_place == 'Alaska',
    neither=lambda x: ~x.in_ca & ~x.in_alaska
).sample(5, random_state=0)

,alert,mag,magType,place,time,title,tsunami,type,source,mag_negative,parsed_place,in_ca,in_alaska,neither
7207,NaN,4.80,mwr,"73km SSW of Masachapa, Nicaragua",1537749595210,"M 4.8 - 73km SSW of Masachapa, Nicaragua",0,earthquake,USGS API,False,Nicaragua,False,False,True
4755,NaN,1.09,ml,"28km NNW of Packwood, Washington",1538227540460,"M 1.1 - 28km NNW of Packwood, Washington",0,earthquake,USGS API,False,Washington,False,False,True
4595,NaN,1.80,ml,"77km SSW of Kaktovik, Alaska",1538259609862,"M 1.8 - 77km SSW of Kaktovik, Alaska",0,earthquake,USGS API,False,Alaska,False,True,False
3566,NaN,1.50,ml,"102km NW of Arctic Village, Alaska",1538464751822,"M 1.5 - 102km NW of Arctic Village, Alaska",0,earthquake,USGS API,False,Alaska,False,True,False
2182,NaN,0.90,ml,"26km ENE of Pine Valley, CA",1538801713880,"M 0.9 - 26km ENE of Pine Valley, CA",0,earthquake,USGS API,False,California,True,False,False

In [141]:
# Podemos realizar filtros y concatenar
tsunami = df[df.tsunami == 1]
no_tsunami = df[df.tsunami == 0]
tsunami.shape, no_tsunami.shape

((61, 11), (9271, 11))

In [143]:
# Concatenar
pd.concat([tsunami, no_tsunami]).shape

(9332, 11)

In [145]:
# Otra forma de realizarlo es con append()
tsunami.append(no_tsunami).shape

(9332, 11)

In [148]:
type(tsunami.append(no_tsunami))

pandas.core.frame.DataFrame