# Recolectar datos con API

Solicitamos el token en la web 
https://www.ncdc.noaa.gov/cdo-web/token

In [1]:
# Realizamos los pasos para ejecutar el requests
import requests

# creamos una función
def make_request(endpoint, payload=None):
  """
  Realizamos la petición a la API de NOAA

  Parameters:
    - endpoint: argumento obligatorio que pasamos a la función
    - payload: un diccionario que le pasamos a la función requests
  
  Returns:
    - la respuesta
  """
  return requests.get(
      f'https://www.ncdc.noaa.gov/cdo-web/api/v2/{endpoint}',
      headers={
          'token': 'NTyVywGydJVjaCpLlshvKuENczFpMDJP'
      },
      params = payload
  )

In [ ]:
make_request()

In [4]:
# Recolectamos los datos de las estaciones de NYC
import datetime
from IPython import display # for updating the cell dynamically

current = datetime.date(2018, 1, 1)
end = datetime.date(2019, 1, 1)

results = []

while current < end:
  display.clear_output(wait=True)
  display.display(f"Recogiendo datos de {str(current)}")

  response = make_request(
      'data',
      {
        'datasetid':'GHCND',
       'locationid' : 'CITY:US360019', # NYC
       'startdate': current,
       'enddate': current,
       'units': 'metric',
       'limit': 1000
       
      }
  )
  if response.ok:
    results.extend(response.json()['results'])
    # actualiza el current date así evitemos un loop infinito
  current += datetime.timedelta(days=1)

'Recogiendo datos de 2018-12-31'

In [6]:
len(results)

79974

In [7]:
results[0]

{'attributes': ',,N,',
 'datatype': 'PRCP',
 'date': '2018-01-01T00:00:00',
 'station': 'GHCND:US1CTFR0039',
 'value': 0.0}

> Una vez recogidos los datos creamos nuestros dataframe en Pandas

In [8]:
import pandas as pd

# creamos el dataframe
df = pd.DataFrame(results)

In [10]:
df.sample(10, random_state=17)

                      date datatype            station attributes  value
20928  2018-04-02T00:00:00     WESF  GHCND:US1NJES0018       ,,N,    9.9
68864  2018-11-12T00:00:00     TMIN  GHCND:USW00094745   ,,W,2400   -2.7
2200   2018-01-10T00:00:00     PRCP  GHCND:US1NJMN0012       ,,N,    0.0
2142   2018-01-09T00:00:00     AWND  GHCND:USW00094745       ,,W,    4.8
6171   2018-01-27T00:00:00     SNWD  GHCND:USC00301309   ,,7,0700    0.0
59016  2018-09-27T00:00:00     PRCP  GHCND:US1NYKN0025       ,,N,    4.6
7250   2018-02-01T00:00:00     SNOW  GHCND:US1NJMS0049       ,,N,    0.0
17559  2018-03-18T00:00:00     PRCP  GHCND:US1NYNS0030       ,,N,    0.0
8229   2018-02-05T00:00:00     PRCP  GHCND:USC00283704   ,,7,0700   21.6
77285  2018-12-20T00:00:00     SNWD  GHCND:US1NJES0024       ,,N,    0.0

In [12]:
# Guardamos los datos
df.to_csv("nyc_weather_2018.csv", index=False)

In [14]:
# Comprobamos que podemos leer el fichero sin problemas.
pd.read_csv("/content/nyc_weather_2018.csv")

                      date datatype            station attributes  value
0      2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1      2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2      2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3      2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4      2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0
...                    ...      ...                ...        ...    ...
79969  2018-12-31T00:00:00     WDF5  GHCND:USW00094789       ,,W,  130.0
79970  2018-12-31T00:00:00     WSF2  GHCND:USW00094789       ,,W,    9.8
79971  2018-12-31T00:00:00     WSF5  GHCND:USW00094789       ,,W,   12.5
79972  2018-12-31T00:00:00     WT01  GHCND:USW00094789       ,,W,    1.0
79973  2018-12-31T00:00:00     WT02  GHCND:USW00094789       ,,W,    1.0

[79974 rows x 5 columns]

In [15]:
# También podemos guardarlo en formato Database
import sqlite3

with sqlite3.connect('weather.db') as connection:
  df.to_sql(
      'weather', connection, index=False, if_exists='replace'
  )

### Ex.01

Recogemos las estaciones 'stations' con los params:
- 'datasetid': 'GHCND'
- locationid': 'CITY:US360019'
- limit: 1000

Necesitamos solo recoger estas columnas del response y crear un dataframe 'stations'
stations = id, name, latitude, longitude, elevation

- guardar en CSV como weather_station.csv
- guardar como base de datos 'stations' - opcional

In [16]:
# llamamos la función make_request
response = make_request(
    'stations',
    {
        'datasetid':'GHCND',
      'locationid': 'CITY:US360019',
     'limit':100
    }
)

In [25]:
type(response.text)

str

In [26]:
response.text

'{"metadata":{"resultset":{"offset":1,"count":286,"limit":100}},"results":[{"elevation":36.6,"mindate":"2015-07-30","maxdate":"2017-11-19","latitude":41.0641,"name":"STAMFORD 2.6 SSW, CT US","datacoverage":0.1469,"id":"GHCND:US1CTFR0022","elevationUnit":"METERS","longitude":-73.577},{"elevation":6.4,"mindate":"2016-05-01","maxdate":"2021-07-18","latitude":41.0377883911133,"name":"STAMFORD 4.2 S, CT US","datacoverage":0.8814,"id":"GHCND:US1CTFR0039","elevationUnit":"METERS","longitude":-73.5681762695313},{"elevation":20.1,"mindate":"2008-01-25","maxdate":"2009-11-05","latitude":40.921298,"name":"BERGENFIELD 0.3 SW, NJ US","datacoverage":0.2826,"id":"GHCND:US1NJBG0001","elevationUnit":"METERS","longitude":-74.001983},{"elevation":16.8,"mindate":"2008-02-09","maxdate":"2017-11-23","latitude":40.902694,"name":"SADDLE BROOK TWP 0.6 E, NJ US","datacoverage":0.9779,"id":"GHCND:US1NJBG0002","elevationUnit":"METERS","longitude":-74.083358},{"elevation":21.6,"mindate":"2008-01-29","maxdate":"2021-07-18","latitude":40.91467,"name":"TENAFLY 1.3 W, NJ US","datacoverage":0.8313,"id":"GHCND:US1NJBG0003","elevationUnit":"METERS","longitude":-73.9775},{"elevation":15.8,"mindate":"2008-02-21","maxdate":"2011-07-27","latitude":40.983040649,"name":"WESTWOOD 0.8 ESE, NJ US","datacoverage":0.1987,"id":"GHCND:US1NJBG0005","elevationUnit":"METERS","longitude":-74.01585817337},{"elevation":112.2,"mindate":"2008-03-02","maxdate":"2015-11-26","latitude":41.058611,"name":"RAMSEY 0.6 E, NJ US","datacoverage":0.3305,"id":"GHCND:US1NJBG0006","elevationUnit":"METERS","longitude":-74.134068},{"elevation":12.8,"mindate":"2008-03-18","maxdate":"2012-07-22","latitude":40.907116,"name":"SADDLE BROOK TWP 0.3 NNE, NJ US","datacoverage":0.8665,"id":"GHCND:US1NJBG0008","elevationUnit":"METERS","longitude":-74.093406},{"elevation":9.4,"mindate":"2008-03-26","maxdate":"2019-10-17","latitude":40.99145,"name":"RIVER VALE TWP 1.5 S, NJ US","datacoverage":0.2498,"id":"GHCND:US1NJBG0010","elevationUnit":"METERS","longitude":-74.012348},{"elevation":8.2,"mindate":"2008-03-25","maxdate":"2009-02-11","latitude":40.794355,"name":"NORTH ARLINGTON 0.7 NE, NJ US","datacoverage":0.8765,"id":"GHCND:US1NJBG0011","elevationUnit":"METERS","longitude":-74.119043},{"elevation":14,"mindate":"2008-06-26","maxdate":"2010-12-15","latitude":40.842,"name":"WOOD RIDGE 0.6 SE, NJ US","datacoverage":0.3056,"id":"GHCND:US1NJBG0012","elevationUnit":"METERS","longitude":-74.083},{"elevation":26.5,"mindate":"2008-09-01","maxdate":"2009-12-24","latitude":40.8373,"name":"RUTHERFORD 1.2 N, NJ US","datacoverage":0.8854,"id":"GHCND:US1NJBG0013","elevationUnit":"METERS","longitude":-74.1065},{"elevation":17.7,"mindate":"2008-08-28","maxdate":"2021-07-19","latitude":40.791492,"name":"NORTH ARLINGTON 0.7 WNW, NJ US","datacoverage":0.8401,"id":"GHCND:US1NJBG0015","elevationUnit":"METERS","longitude":-74.13979},{"elevation":28,"mindate":"2008-08-26","maxdate":"2021-07-18","latitude":40.95109,"name":"GLEN ROCK 0.7 SSE, NJ US","datacoverage":0.9272,"id":"GHCND:US1NJBG0017","elevationUnit":"METERS","longitude":-74.118264},{"elevation":21.3,"mindate":"2008-02-07","maxdate":"2021-07-18","latitude":40.848094,"name":"PALISADES PARK 0.2 WNW, NJ US","datacoverage":0.8802,"id":"GHCND:US1NJBG0018","elevationUnit":"METERS","longitude":-74.000247},{"elevation":25,"mindate":"2008-09-01","maxdate":"2010-12-13","latitude":40.968162,"name":"PARAMUS 1.8 NNW, NJ US","datacoverage":0.651,"id":"GHCND:US1NJBG0020","elevationUnit":"METERS","longitude":-74.090223},{"elevation":149.4,"mindate":"2008-09-09","maxdate":"2021-07-19","latitude":41.01905,"name":"OAKLAND 0.9 SSE, NJ US","datacoverage":0.9572,"id":"GHCND:US1NJBG0023","elevationUnit":"METERS","longitude":-74.233383},{"elevation":73.8,"mindate":"2010-09-01","maxdate":"2017-01-29","latitude":41.032778,"name":"OAKLAND 0.2 WNW, NJ US","datacoverage":0.9317,"id":"GHCND:US1NJBG0029","elevationUnit":"METERS","longitude":-74.244991},{"elevation":109.4,"mindate":"2011-01-05","maxdate":"2021-07-13","latitude":41.025324,"name":"OAKLAND 1.0 ESE, NJ US","datacoverage":0.9188,"id":"GHCND:US1NJBG0030","elevationUnit":"METERS","longitude":-74.223632},{"elevation":14.3,"mindate":"2011-02-13","maxdate":"2011-09-18","latitude":40.962786,"name":"DEMAREST 0.6 NNW, NJ US","datacoverage":0.6101,"id":"GHCND:US1NJBG0031","elevationUnit":"METERS","longitude":-73.959987},{"elevation":24.1,"mindate":"2011-05-06","maxdate":"2014-07-24","latitude":40.8535946,"name":"WOOD RIDGE 0.6 NNW, NJ US","datacoverage":0.8027,"id":"GHCND:US1NJBG0033","elevationUnit":"METERS","longitude":-74.0942817},{"elevation":27.1,"mindate":"2013-12-01","maxdate":"2021-07-13","latitude":40.9613609313965,"name":"GLEN ROCK 0.4 WNW, NJ US","datacoverage":0.5313,"id":"GHCND:US1NJBG0037","elevationUnit":"METERS","longitude":-74.1327743530273},{"elevation":23.2,"mindate":"2016-02-14","maxdate":"2021-07-18","latitude":40.932076,"name":"RIVER EDGE 0.4 NNE, NJ US","datacoverage":0.7503,"id":"GHCND:US1NJBG0039","elevationUnit":"METERS","longitude":-74.035372},{"elevation":43.9,"mindate":"2017-06-19","maxdate":"2019-06-06","latitude":40.93188,"name":"TENAFLY 1.6 NW, NJ US","datacoverage":0.3357,"id":"GHCND:US1NJBG0044","elevationUnit":"METERS","longitude":-73.97818},{"elevation":19.5,"mindate":"2020-01-18","maxdate":"2021-07-16","latitude":40.9217,"name":"FAIR LAWN 1.2 SE, NJ US","datacoverage":0.6649,"id":"GHCND:US1NJBG0056","elevationUnit":"METERS","longitude":-74.1044},{"elevation":19.2,"mindate":"2020-07-04","maxdate":"2021-07-19","latitude":40.9249,"name":"BERGENFIELD 0.2 WNW, NJ US","datacoverage":0.9344,"id":"GHCND:US1NJBG0058","elevationUnit":"METERS","longitude":-74.00268},{"elevation":83.2,"mindate":"2008-02-18","maxdate":"2009-09-21","latitude":40.7799077524509,"name":"LIVINGSTON TWP 0.4 SSW, NJ US","datacoverage":0.1976,"id":"GHCND:US1NJES0001","elevationUnit":"METERS","longitude":-74.3319296836853},{"elevation":150.9,"mindate":"2008-12-26","maxdate":"2009-12-06","latitude":40.857642,"name":"NORTH CALDWELL 0.6 SSE, NJ US","datacoverage":0.4798,"id":"GHCND:US1NJES0004","elevationUnit":"METERS","longitude":-74.252278},{"elevation":124.1,"mindate":"2011-11-23","maxdate":"2012-05-17","latitude":40.82547,"name":"VERONA TWP 0.7 SW, NJ US","datacoverage":0.7458,"id":"GHCND:US1NJES0010","elevationUnit":"METERS","longitude":-74.25308},{"elevation":101.8,"mindate":"2011-11-24","maxdate":"2015-02-20","latitude":40.864825,"name":"CEDAR GROVE TWP 0.9 NE, NJ US","datacoverage":0.6684,"id":"GHCND:US1NJES0011","elevationUnit":"METERS","longitude":-74.215732},{"elevation":113.4,"mindate":"2012-01-10","maxdate":"2015-10-29","latitude":40.856542,"name":"MONTCLAIR 2.2 NNE, NJ US","datacoverage":0.7596,"id":"GHCND:US1NJES0015","elevationUnit":"METERS","longitude":-74.200357},{"elevation":72.5,"mindate":"2012-07-26","maxdate":"2021-07-18","latitude":40.724466,"name":"MAPLEWOOD TWP 0.9 SE, NJ US","datacoverage":0.9415,"id":"GHCND:US1NJES0018","elevationUnit":"METERS","longitude":-74.259542},{"elevation":81.4,"mindate":"2012-08-26","maxdate":"2021-07-16","latitude":40.8615,"name":"WEST CALDWELL TWP 1.3 NE, NJ US","datacoverage":0.6535,"id":"GHCND:US1NJES0019","elevationUnit":"METERS","longitude":-74.2775},{"mindate":"2012-09-18","maxdate":"2017-06-20","latitude":40.785,"name":"BLOOMFIELD 1.7 S, NJ US","datacoverage":0.4329,"id":"GHCND:US1NJES0020","longitude":-74.1885},{"elevation":135.6,"mindate":"2012-11-28","maxdate":"2017-01-25","latitude":40.830493927002,"name":"VERONA TWP 0.6 WSW, NJ US","datacoverage":0.1467,"id":"GHCND:US1NJES0021","elevationUnit":"METERS","longitude":-74.2538681030273},{"elevation":108.5,"mindate":"1998-06-17","maxdate":"2021-06-30","latitude":40.855695,"name":"CEDAR GROVE TWP 0.4 W, NJ US","datacoverage":0.2498,"id":"GHCND:US1NJES0024","elevationUnit":"METERS","longitude":-74.235564},{"elevation":43.9,"mindate":"2016-09-11","maxdate":"2017-12-01","latitude":40.723141,"name":"MILLBURN TWP 1.6 SE, NJ US","datacoverage":0.6421,"id":"GHCND:US1NJES0027","elevationUnit":"METERS","longitude":-74.303177},{"elevation":146,"mindate":"2018-09-13","maxdate":"2020-10-15","latitude":40.82164,"name":"MONTCLAIR 0.9 WSW, NJ US","datacoverage":0.1518,"id":"GHCND:US1NJES0029","elevationUnit":"METERS","longitude":-74.227008},{"elevation":96,"mindate":"2018-08-31","maxdate":"2021-07-19","latitude":40.835343,"name":"MONTCLAIR 0.7 N, NJ US","datacoverage":0.7894,"id":"GHCND:US1NJES0031","elevationUnit":"METERS","longitude":-74.208967},{"elevation":102.1,"mindate":"2018-11-25","maxdate":"2021-04-25","latitude":40.83409,"name":"MONTCLAIR 0.7 NNE, NJ US","datacoverage":0.1302,"id":"GHCND:US1NJES0033","elevationUnit":"METERS","longitude":-74.20561},{"elevation":161.2,"mindate":"2018-12-09","maxdate":"2021-07-05","latitude":40.8326,"name":"VERONA TWP 0.8 W, NJ US","datacoverage":0.9043,"id":"GHCND:US1NJES0040","elevationUnit":"METERS","longitude":-74.2583},{"elevation":86.6,"mindate":"2019-03-31","maxdate":"2021-07-18","latitude":40.810078,"name":"LIVINGSTON TWP 2.0 NNE, NJ US","datacoverage":0.8086,"id":"GHCND:US1NJES0041","elevationUnit":"METERS","longitude":-74.309464},{"elevation":29,"mindate":"2008-02-10","maxdate":"2021-07-19","latitude":40.772892,"name":"KEARNY 1.7 NW, NJ US","datacoverage":0.9041,"id":"GHCND:US1NJHD0002","elevationUnit":"METERS","longitude":-74.140926},{"elevation":31.4,"mindate":"2008-01-27","maxdate":"2008-09-07","latitude":40.524461,"name":"PERTH AMBOY 1.2 WNW, NJ US","datacoverage":0.76,"id":"GHCND:US1NJMD0001","elevationUnit":"METERS","longitude":-74.2921},{"elevation":15.8,"mindate":"2008-04-15","maxdate":"2008-10-06","latitude":40.4871095530118,"name":"SOUTH AMBOY 0.9 W, NJ US","datacoverage":0.9086,"id":"GHCND:US1NJMD0011","elevationUnit":"METERS","longitude":-74.2950063943863},{"elevation":22.3,"mindate":"2009-10-26","maxdate":"2014-11-25","latitude":40.578894,"name":"SOUTH PLAINFIELD 0.8 ENE, NJ US","datacoverage":0.5207,"id":"GHCND:US1NJMD0023","elevationUnit":"METERS","longitude":-74.401399},{"elevation":33.2,"mindate":"2011-05-05","maxdate":"2012-10-08","latitude":40.451308,"name":"OLD BRIDGE TWP 3.3 N, NJ US","datacoverage":0.2486,"id":"GHCND:US1NJMD0031","elevationUnit":"METERS","longitude":-74.312877},{"elevation":18.9,"mindate":"2011-10-16","maxdate":"2014-07-15","latitude":40.5835267,"name":"SOUTH PLAINFIELD 0.9 NW, NJ US","datacoverage":0.6345,"id":"GHCND:US1NJMD0033","elevationUnit":"METERS","longitude":-74.428423},{"elevation":35.4,"mindate":"2011-08-11","maxdate":"2021-07-19","latitude":40.5628918,"name":"EDISON TWP 1.9 N, NJ US","datacoverage":0.6937,"id":"GHCND:US1NJMD0038","elevationUnit":"METERS","longitude":-74.3669021},{"elevation":16.2,"mindate":"2011-12-01","maxdate":"2020-12-24","latitude":40.473863,"name":"EAST BRUNSWICK TWP 3.3 NNE, NJ US","datacoverage":0.346,"id":"GHCND:US1NJMD0039","elevationUnit":"METERS","longitude":-74.400046},{"elevation":4,"mindate":"2012-06-26","maxdate":"2021-07-19","latitude":40.5554,"name":"WOODBRIDGE TWP 1.1 ESE, NJ US","datacoverage":0.9967,"id":"GHCND:US1NJMD0043","elevationUnit":"METERS","longitude":-74.274},{"elevation":18,"mindate":"2012-07-06","maxdate":"2013-11-18","latitude":40.583514,"name":"SOUTH PLAINFIELD 0.7 NNW, NJ US","datacoverage":0.6287,"id":"GHCND:US1NJMD0044","elevationUnit":"METERS","longitude":-74.419476},{"elevation":21.6,"mindate":"2012-09-01","maxdate":"2021-07-19","latitude":40.5759108,"name":"WOODBRIDGE TWP 1.1 NNE, NJ US","datacoverage":0.9846,"id":"GHCND:US1NJMD0045","elevationUnit":"METERS","longitude":-74.2846869},{"elevation":21.9,"mindate":"2014-03-31","maxdate":"2021-07-18","latitude":40.6023256,"name":"WOODBRIDGE TWP 3.0 NNW, NJ US","datacoverage":0.4563,"id":"GHCND:US1NJMD0050","elevationUnit":"METERS","longitude":-74.3102058},{"elevation":41.8,"mindate":"2013-05-07","maxdate":"2015-03-05","latitude":40.555778503418,"name":"EDISON TWP 1.4 N, NJ US","datacoverage":0.5179,"id":"GHCND:US1NJMD0055","elevationUnit":"METERS","longitude":-74.3684387207031},{"elevation":41.8,"mindate":"2013-10-18","maxdate":"2015-10-12","latitude":40.456515,"name":"SAYREVILLE 1.3 ESE, NJ US","datacoverage":0.2207,"id":"GHCND:US1NJMD0058","elevationUnit":"METERS","longitude":-74.299361},{"elevation":21.3,"mindate":"2014-04-04","maxdate":"2021-07-18","latitude":40.4056892,"name":"MATAWAN 1.1 WSW, NJ US","datacoverage":0.448,"id":"GHCND:US1NJMD0060","elevationUnit":"METERS","longitude":-74.2549286},{"elevation":7.6,"mindate":"2014-08-18","maxdate":"2021-07-19","latitude":40.45623,"name":"OLD BRIDGE TWP 5.1 NE, NJ US","datacoverage":0.9996,"id":"GHCND:US1NJMD0062","elevationUnit":"METERS","longitude":-74.241325},{"elevation":22.3,"mindate":"2015-09-29","maxdate":"2018-08-12","latitude":40.583541,"name":"SOUTH PLAINFIELD 0.7 NNE, NJ US","datacoverage":0.3699,"id":"GHCND:US1NJMD0066","elevationUnit":"METERS","longitude":-74.410003},{"elevation":19.2,"mindate":"2015-12-29","maxdate":"2021-07-14","latitude":40.484742,"name":"NEW BRUNSWICK 1.8 E, NJ US","datacoverage":0.8257,"id":"GHCND:US1NJMD0070","elevationUnit":"METERS","longitude":-74.41031},{"elevation":31.7,"mindate":"2016-03-10","maxdate":"2016-09-07","latitude":40.59638889,"name":"SOUTH PLAINFIELD 1.8 NE, NJ US","datacoverage":0.5659,"id":"GHCND:US1NJMD0071","elevationUnit":"METERS","longitude":-74.39472222},{"elevation":9.1,"mindate":"2016-08-12","maxdate":"2019-12-03","latitude":40.581743,"name":"CARTERET 0.6 WSW, NJ US","datacoverage":0.9636,"id":"GHCND:US1NJMD0073","elevationUnit":"METERS","longitude":-74.238792},{"elevation":36.3,"mindate":"2016-09-20","maxdate":"2021-07-18","latitude":40.50039,"name":"HIGHLAND PARK 0.5 E, NJ US","datacoverage":0.8287,"id":"GHCND:US1NJMD0074","elevationUnit":"METERS","longitude":-74.41942},{"elevation":32.9,"mindate":"2018-02-14","maxdate":"2021-07-19","latitude":40.5419,"name":"METUCHEN 0.5 E, NJ US","datacoverage":0.8235,"id":"GHCND:US1NJMD0082","elevationUnit":"METERS","longitude":-74.35374},{"elevation":14.9,"mindate":"2018-10-12","maxdate":"2021-07-19","latitude":40.50542,"name":"HIGHLAND PARK 0.4 N, NJ US","datacoverage":0.8943,"id":"GHCND:US1NJMD0086","elevationUnit":"METERS","longitude":-74.42978},{"elevation":27.4,"mindate":"2018-11-21","maxdate":"2021-07-19","latitude":40.58884,"name":"METUCHEN 3.3 N, NJ US","datacoverage":0.7438,"id":"GHCND:US1NJMD0088","elevationUnit":"METERS","longitude":-74.37212},{"elevation":28,"mindate":"2019-03-23","maxdate":"2021-07-19","latitude":40.4710131,"name":"SAYREVILLE 0.9 ENE, NJ US","datacoverage":0.8259,"id":"GHCND:US1NJMD0093","elevationUnit":"METERS","longitude":-74.3046563},{"elevation":7,"mindate":"2020-09-06","maxdate":"2021-07-15","latitude":40.4768,"name":"SOUTH AMBOY 0.7 S, NJ US","datacoverage":0.901,"id":"GHCND:US1NJMD0098","elevationUnit":"METERS","longitude":-74.2781},{"elevation":13.4,"mindate":"2008-03-27","maxdate":"2016-12-26","latitude":40.362199,"name":"RED BANK 1.3 NW, NJ US","datacoverage":0.9503,"id":"GHCND:US1NJMN0006","elevationUnit":"METERS","longitude":-74.083274},{"elevation":25.6,"mindate":"2008-04-09","maxdate":"2009-04-08","latitude":40.407832,"name":"ATLANTIC HIGHLANDS 0.2 S, NJ US","datacoverage":0.6247,"id":"GHCND:US1NJMN0007","elevationUnit":"METERS","longitude":-74.030542},{"elevation":12.8,"mindate":"2008-04-13","maxdate":"2021-07-18","latitude":40.3034,"name":"EATONTOWN 1.2 NE, NJ US","datacoverage":0.9546,"id":"GHCND:US1NJMN0010","elevationUnit":"METERS","longitude":-74.040017},{"elevation":4.9,"mindate":"2013-06-19","maxdate":"2021-07-19","latitude":40.431269,"name":"MIDDLETOWN TWP 3.6 NW, NJ US","datacoverage":0.5503,"id":"GHCND:US1NJMN0011","elevationUnit":"METERS","longitude":-74.12134},{"elevation":32.6,"mindate":"2008-05-07","maxdate":"2021-07-19","latitude":40.320403,"name":"COLTS NECK TWP 2.4 NW, NJ US","datacoverage":0.4855,"id":"GHCND:US1NJMN0012","elevationUnit":"METERS","longitude":-74.19268},{"elevation":53.3,"mindate":"2008-05-02","maxdate":"2013-10-13","latitude":40.3773,"name":"HOLMDEL TWP 0.7 E, NJ US","datacoverage":0.8378,"id":"GHCND:US1NJMN0015","elevationUnit":"METERS","longitude":-74.1595},{"elevation":4.9,"mindate":"2009-07-30","maxdate":"2012-02-01","latitude":40.42697787,"name":"MIDDLETOWN TWP 2.9 NNW, NJ US","datacoverage":0.7197,"id":"GHCND:US1NJMN0029","elevationUnit":"METERS","longitude":-74.10711536},{"elevation":9.8,"mindate":"2009-09-11","maxdate":"2015-10-15","latitude":40.362702,"name":"FAIR HAVEN 0.4 E, NJ US","datacoverage":0.8055,"id":"GHCND:US1NJMN0032","elevationUnit":"METERS","longitude":-74.031185},{"elevation":5.8,"mindate":"2009-09-04","maxdate":"2010-07-14","latitude":40.3292,"name":"MONMOUTH BEACH 0.5 S, NJ US","datacoverage":0.328,"id":"GHCND:US1NJMN0033","elevationUnit":"METERS","longitude":-73.9883},{"elevation":19.2,"mindate":"2009-09-10","maxdate":"2010-11-02","latitude":40.283718,"name":"SHREWSBURY TWP 2.1 S, NJ US","datacoverage":0.926,"id":"GHCND:US1NJMN0035","elevationUnit":"METERS","longitude":-74.067681},{"elevation":8.2,"mindate":"2011-02-21","maxdate":"2013-12-20","latitude":40.371631,"name":"RUMSON 0.7 NNE, NJ US","datacoverage":0.883,"id":"GHCND:US1NJMN0044","elevationUnit":"METERS","longitude":-73.997234},{"elevation":7.9,"mindate":"2011-08-15","maxdate":"2021-07-18","latitude":40.296952,"name":"LONG BRANCH 0.5 W, NJ US","datacoverage":0.992,"id":"GHCND:US1NJMN0048","elevationUnit":"METERS","longitude":-74.00151},{"elevation":14.9,"mindate":"2011-10-16","maxdate":"2017-12-01","latitude":40.367059,"name":"RUMSON 0.5 NE, NJ US","datacoverage":0.7285,"id":"GHCND:US1NJMN0051","elevationUnit":"METERS","longitude":-73.997934},{"elevation":9.4,"mindate":"2015-10-17","maxdate":"2021-07-19","latitude":40.2753677368164,"name":"LONG BRANCH 1.7 SSW, NJ US","datacoverage":0.797,"id":"GHCND:US1NJMN0069","elevationUnit":"METERS","longitude":-74.0060272216797},{"elevation":14,"mindate":"2018-11-19","maxdate":"2021-07-19","latitude":40.351849,"name":"RED BANK 0.6 ENE, NJ US","datacoverage":0.8758,"id":"GHCND:US1NJMN0081","elevationUnit":"METERS","longitude":-74.057205},{"elevation":66.8,"mindate":"2008-02-23","maxdate":"2017-01-31","latitude":40.667038,"name":"LONG HILL TWP 1.2 SSE, NJ US","datacoverage":0.8206,"id":"GHCND:US1NJMS0002","elevationUnit":"METERS","longitude":-74.482746},{"elevation":188.7,"mindate":"2008-09-17","maxdate":"2021-07-19","latitude":40.909623,"name":"BOONTON 0.6 NW, NJ US","datacoverage":0.9362,"id":"GHCND:US1NJMS0011","elevationUnit":"METERS","longitude":-74.414145},{"elevation":67.7,"mindate":"2009-02-18","maxdate":"2016-07-02","latitude":40.755592,"name":"MADISON 0.5 ESE, NJ US","datacoverage":0.3744,"id":"GHCND:US1NJMS0014","elevationUnit":"METERS","longitude":-74.409815},{"elevation":262.4,"mindate":"2009-02-02","maxdate":"2021-02-22","latitude":40.969004,"name":"KINNELON 1.4 SE, NJ US","datacoverage":0.0336,"id":"GHCND:US1NJMS0016","elevationUnit":"METERS","longitude":-74.370953},{"elevation":64.3,"mindate":"2009-08-31","maxdate":"2015-02-25","latitude":40.8656,"name":"PARSIPPANY TROY HILLS TWP 2.1 E, NJ US","datacoverage":0.9786,"id":"GHCND:US1NJMS0036","elevationUnit":"METERS","longitude":-74.3851},{"elevation":94.2,"mindate":"2009-11-11","maxdate":"2016-09-27","latitude":40.853314,"name":"PARSIPPANY TROY HILLS TWP 1.3 WSW, NJ US","datacoverage":0.2849,"id":"GHCND:US1NJMS0039","elevationUnit":"METERS","longitude":-74.446957},{"elevation":58.8,"mindate":"2010-03-11","maxdate":"2021-07-19","latitude":40.748131,"name":"CHATHAM 0.6 NW, NJ US","datacoverage":0.8913,"id":"GHCND:US1NJMS0040","elevationUnit":"METERS","longitude":-74.390791},{"elevation":118.3,"mindate":"2012-04-23","maxdate":"2019-12-04","latitude":40.792364,"name":"MORRISTOWN 1.4 E, NJ US","datacoverage":0.1248,"id":"GHCND:US1NJMS0047","elevationUnit":"METERS","longitude":-74.450002},{"elevation":62.5,"mindate":"2011-09-12","maxdate":"2020-08-10","latitude":40.77797,"name":"FLORHAM PARK 0.2 WNW, NJ US","datacoverage":0.9681,"id":"GHCND:US1NJMS0049","elevationUnit":"METERS","longitude":-74.3992},{"elevation":109.1,"mindate":"2012-10-07","

In [28]:
response.json()

{'metadata': {'resultset': {'count': 286, 'limit': 100, 'offset': 1}},
 'results': [{'datacoverage': 0.1469,
   'elevation': 36.6,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1CTFR0022',
   'latitude': 41.0641,
   'longitude': -73.577,
   'maxdate': '2017-11-19',
   'mindate': '2015-07-30',
   'name': 'STAMFORD 2.6 SSW, CT US'},
  {'datacoverage': 0.8814,
   'elevation': 6.4,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1CTFR0039',
   'latitude': 41.0377883911133,
   'longitude': -73.5681762695313,
   'maxdate': '2021-07-18',
   'mindate': '2016-05-01',
   'name': 'STAMFORD 4.2 S, CT US'},
  {'datacoverage': 0.2826,
   'elevation': 20.1,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0001',
   'latitude': 40.921298,
   'longitude': -74.001983,
   'maxdate': '2009-11-05',
   'mindate': '2008-01-25',
   'name': 'BERGENFIELD 0.3 SW, NJ US'},
  {'datacoverage': 0.9779,
   'elevation': 16.8,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0002',
   'latitude': 40.902694,
   'longitude': -74.083358,
   'maxdate': '2017-11-23',
   'mindate': '2008-02-09',
   'name': 'SADDLE BROOK TWP 0.6 E, NJ US'},
  {'datacoverage': 0.8313,
   'elevation': 21.6,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0003',
   'latitude': 40.91467,
   'longitude': -73.9775,
   'maxdate': '2021-07-18',
   'mindate': '2008-01-29',
   'name': 'TENAFLY 1.3 W, NJ US'},
  {'datacoverage': 0.1987,
   'elevation': 15.8,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0005',
   'latitude': 40.983040649,
   'longitude': -74.01585817337,
   'maxdate': '2011-07-27',
   'mindate': '2008-02-21',
   'name': 'WESTWOOD 0.8 ESE, NJ US'},
  {'datacoverage': 0.3305,
   'elevation': 112.2,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0006',
   'latitude': 41.058611,
   'longitude': -74.134068,
   'maxdate': '2015-11-26',
   'mindate': '2008-03-02',
   'name': 'RAMSEY 0.6 E, NJ US'},
  {'datacoverage': 0.8665,
   'elevation': 12.8,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0008',
   'latitude': 40.907116,
   'longitude': -74.093406,
   'maxdate': '2012-07-22',
   'mindate': '2008-03-18',
   'name': 'SADDLE BROOK TWP 0.3 NNE, NJ US'},
  {'datacoverage': 0.2498,
   'elevation': 9.4,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0010',
   'latitude': 40.99145,
   'longitude': -74.012348,
   'maxdate': '2019-10-17',
   'mindate': '2008-03-26',
   'name': 'RIVER VALE TWP 1.5 S, NJ US'},
  {'datacoverage': 0.8765,
   'elevation': 8.2,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0011',
   'latitude': 40.794355,
   'longitude': -74.119043,
   'maxdate': '2009-02-11',
   'mindate': '2008-03-25',
   'name': 'NORTH ARLINGTON 0.7 NE, NJ US'},
  {'datacoverage': 0.3056,
   'elevation': 14,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0012',
   'latitude': 40.842,
   'longitude': -74.083,
   'maxdate': '2010-12-15',
   'mindate': '2008-06-26',
   'name': 'WOOD RIDGE 0.6 SE, NJ US'},
  {'datacoverage': 0.8854,
   'elevation': 26.5,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0013',
   'latitude': 40.8373,
   'longitude': -74.1065,
   'maxdate': '2009-12-24',
   'mindate': '2008-09-01',
   'name': 'RUTHERFORD 1.2 N, NJ US'},
  {'datacoverage': 0.8401,
   'elevation': 17.7,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0015',
   'latitude': 40.791492,
   'longitude': -74.13979,
   'maxdate': '2021-07-19',
   'mindate': '2008-08-28',
   'name': 'NORTH ARLINGTON 0.7 WNW, NJ US'},
  {'datacoverage': 0.9272,
   'elevation': 28,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0017',
   'latitude': 40.95109,
   'longitude': -74.118264,
   'maxdate': '2021-07-18',
   'mindate': '2008-08-26',
   'name': 'GLEN ROCK 0.7 SSE, NJ US'},
  {'datacoverage': 0.8802,
   'elevation': 21.3,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0018',
   'latitude': 40.848094,
   'longitude': -74.000247,
   'maxdate': '2021-07-18',
   'mindate': '2008-02-07',
   'name': 'PALISADES PARK 0.2 WNW, NJ US'},
  {'datacoverage': 0.651,
   'elevation': 25,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0020',
   'latitude': 40.968162,
   'longitude': -74.090223,
   'maxdate': '2010-12-13',
   'mindate': '2008-09-01',
   'name': 'PARAMUS 1.8 NNW, NJ US'},
  {'datacoverage': 0.9572,
   'elevation': 149.4,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0023',
   'latitude': 41.01905,
   'longitude': -74.233383,
   'maxdate': '2021-07-19',
   'mindate': '2008-09-09',
   'name': 'OAKLAND 0.9 SSE, NJ US'},
  {'datacoverage': 0.9317,
   'elevation': 73.8,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0029',
   'latitude': 41.032778,
   'longitude': -74.244991,
   'maxdate': '2017-01-29',
   'mindate': '2010-09-01',
   'name': 'OAKLAND 0.2 WNW, NJ US'},
  {'datacoverage': 0.9188,
   'elevation': 109.4,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0030',
   'latitude': 41.025324,
   'longitude': -74.223632,
   'maxdate': '2021-07-13',
   'mindate': '2011-01-05',
   'name': 'OAKLAND 1.0 ESE, NJ US'},
  {'datacoverage': 0.6101,
   'elevation': 14.3,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0031',
   'latitude': 40.962786,
   'longitude': -73.959987,
   'maxdate': '2011-09-18',
   'mindate': '2011-02-13',
   'name': 'DEMAREST 0.6 NNW, NJ US'},
  {'datacoverage': 0.8027,
   'elevation': 24.1,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0033',
   'latitude': 40.8535946,
   'longitude': -74.0942817,
   'maxdate': '2014-07-24',
   'mindate': '2011-05-06',
   'name': 'WOOD RIDGE 0.6 NNW, NJ US'},
  {'datacoverage': 0.5313,
   'elevation': 27.1,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0037',
   'latitude': 40.9613609313965,
   'longitude': -74.1327743530273,
   'maxdate': '2021-07-13',
   'mindate': '2013-12-01',
   'name': 'GLEN ROCK 0.4 WNW, NJ US'},
  {'datacoverage': 0.7503,
   'elevation': 23.2,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0039',
   'latitude': 40.932076,
   'longitude': -74.035372,
   'maxdate': '2021-07-18',
   'mindate': '2016-02-14',
   'name': 'RIVER EDGE 0.4 NNE, NJ US'},
  {'datacoverage': 0.3357,
   'elevation': 43.9,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0044',
   'latitude': 40.93188,
   'longitude': -73.97818,
   'maxdate': '2019-06-06',
   'mindate': '2017-06-19',
   'name': 'TENAFLY 1.6 NW, NJ US'},
  {'datacoverage': 0.6649,
   'elevation': 19.5,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0056',
   'latitude': 40.9217,
   'longitude': -74.1044,
   'maxdate': '2021-07-16',
   'mindate': '2020-01-18',
   'name': 'FAIR LAWN 1.2 SE, NJ US'},
  {'datacoverage': 0.9344,
   'elevation': 19.2,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJBG0058',
   'latitude': 40.9249,
   'longitude': -74.00268,
   'maxdate': '2021-07-19',
   'mindate': '2020-07-04',
   'name': 'BERGENFIELD 0.2 WNW, NJ US'},
  {'datacoverage': 0.1976,
   'elevation': 83.2,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJES0001',
   'latitude': 40.7799077524509,
   'longitude': -74.3319296836853,
   'maxdate': '2009-09-21',
   'mindate': '2008-02-18',
   'name': 'LIVINGSTON TWP 0.4 SSW, NJ US'},
  {'datacoverage': 0.4798,
   'elevation': 150.9,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJES0004',
   'latitude': 40.857642,
   'longitude': -74.252278,
   'maxdate': '2009-12-06',
   'mindate': '2008-12-26',
   'name': 'NORTH CALDWELL 0.6 SSE, NJ US'},
  {'datacoverage': 0.7458,
   'elevation': 124.1,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJES0010',
   'latitude': 40.82547,
   'longitude': -74.25308,
   'maxdate': '2012-05-17',
   'mindate': '2011-11-23',
   'name': 'VERONA TWP 0.7 SW, NJ US'},
  {'datacoverage': 0.6684,
   'elevation': 101.8,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJES0011',
   'latitude': 40.864825,
   'longitude': -74.215732,
   'maxdate': '2015-02-20',
   'mindate': '2011-11-24',
   'name': 'CEDAR GROVE TWP 0.9 NE, NJ US'},
  {'datacoverage': 0.7596,
   'elevation': 113.4,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJES0015',
   'latitude': 40.856542,
   'longitude': -74.200357,
   'maxdate': '2015-10-29',
   'mindate': '2012-01-10',
   'name': 'MONTCLAIR 2.2 NNE, NJ US'},
  {'datacoverage': 0.9415,
   'elevation': 72.5,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJES0018',
   'latitude': 40.724466,
   'longitude': -74.259542,
   'maxdate': '2021-07-18',
   'mindate': '2012-07-26',
   'name': 'MAPLEWOOD TWP 0.9 SE, NJ US'},
  {'datacoverage': 0.6535,
   'elevation': 81.4,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJES0019',
   'latitude': 40.8615,
   'longitude': -74.2775,
   'maxdate': '2021-07-16',
   'mindate': '2012-08-26',
   'name': 'WEST CALDWELL TWP 1.3 NE, NJ US'},
  {'datacoverage': 0.4329,
   'id': 'GHCND:US1NJES0020',
   'latitude': 40.785,
   'longitude': -74.1885,
   'maxdate': '2017-06-20',
   'mindate': '2012-09-18',
   'name': 'BLOOMFIELD 1.7 S, NJ US'},
  {'datacoverage': 0.1467,
   'elevation': 135.6,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJES0021',
   'latitude': 40.830493927002,
   'longitude': -74.2538681030273,
   'maxdate': '2017-01-25',
   'mindate': '2012-11-28',
   'name': 'VERONA TWP 0.6 WSW, NJ US'},
  {'datacoverage': 0.2498,
   'elevation': 108.5,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJES0024',
   'latitude': 40.855695,
   'longitude': -74.235564,
   'maxdate': '2021-06-30',
   'mindate': '1998-06-17',
   'name': 'CEDAR GROVE TWP 0.4 W, NJ US'},
  {'datacoverage': 0.6421,
   'elevation': 43.9,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJES0027',
   'latitude': 40.723141,
   'longitude': -74.303177,
   'maxdate': '2017-12-01',
   'mindate': '2016-09-11',
   'name': 'MILLBURN TWP 1.6 SE, NJ US'},
  {'datacoverage': 0.1518,
   'elevation': 146,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJES0029',
   'latitude': 40.82164,
   'longitude': -74.227008,
   'maxdate': '2020-10-15',
   'mindate': '2018-09-13',
   'name': 'MONTCLAIR 0.9 WSW, NJ US'},
  {'datacoverage': 0.7894,
   'elevation': 96,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJES0031',
   'latitude': 40.835343,
   'longitude': -74.208967,
   'maxdate': '2021-07-19',
   'mindate': '2018-08-31',
   'name': 'MONTCLAIR 0.7 N, NJ US'},
  {'datacoverage': 0.1302,
   'elevation': 102.1,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJES0033',
   'latitude': 40.83409,
   'longitude': -74.20561,
   'maxdate': '2021-04-25',
   'mindate': '2018-11-25',
   'name': 'MONTCLAIR 0.7 NNE, NJ US'},
  {'datacoverage': 0.9043,
   'elevation': 161.2,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJES0040',
   'latitude': 40.8326,
   'longitude': -74.2583,
   'maxdate': '2021-07-05',
   'mindate': '2018-12-09',
   'name': 'VERONA TWP 0.8 W, NJ US'},
  {'datacoverage': 0.8086,
   'elevation': 86.6,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJES0041',
   'latitude': 40.810078,
   'longitude': -74.309464,
   'maxdate': '2021-07-18',
   'mindate': '2019-03-31',
   'name': 'LIVINGSTON TWP 2.0 NNE, NJ US'},
  {'datacoverage': 0.9041,
   'elevation': 29,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJHD0002',
   'latitude': 40.772892,
   'longitude': -74.140926,
   'maxdate': '2021-07-19',
   'mindate': '2008-02-10',
   'name': 'KEARNY 1.7 NW, NJ US'},
  {'datacoverage': 0.76,
   'elevation': 31.4,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0001',
   'latitude': 40.524461,
   'longitude': -74.2921,
   'maxdate': '2008-09-07',
   'mindate': '2008-01-27',
   'name': 'PERTH AMBOY 1.2 WNW, NJ US'},
  {'datacoverage': 0.9086,
   'elevation': 15.8,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0011',
   'latitude': 40.4871095530118,
   'longitude': -74.2950063943863,
   'maxdate': '2008-10-06',
   'mindate': '2008-04-15',
   'name': 'SOUTH AMBOY 0.9 W, NJ US'},
  {'datacoverage': 0.5207,
   'elevation': 22.3,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0023',
   'latitude': 40.578894,
   'longitude': -74.401399,
   'maxdate': '2014-11-25',
   'mindate': '2009-10-26',
   'name': 'SOUTH PLAINFIELD 0.8 ENE, NJ US'},
  {'datacoverage': 0.2486,
   'elevation': 33.2,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0031',
   'latitude': 40.451308,
   'longitude': -74.312877,
   'maxdate': '2012-10-08',
   'mindate': '2011-05-05',
   'name': 'OLD BRIDGE TWP 3.3 N, NJ US'},
  {'datacoverage': 0.6345,
   'elevation': 18.9,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0033',
   'latitude': 40.5835267,
   'longitude': -74.428423,
   'maxdate': '2014-07-15',
   'mindate': '2011-10-16',
   'name': 'SOUTH PLAINFIELD 0.9 NW, NJ US'},
  {'datacoverage': 0.6937,
   'elevation': 35.4,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0038',
   'latitude': 40.5628918,
   'longitude': -74.3669021,
   'maxdate': '2021-07-19',
   'mindate': '2011-08-11',
   'name': 'EDISON TWP 1.9 N, NJ US'},
  {'datacoverage': 0.346,
   'elevation': 16.2,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0039',
   'latitude': 40.473863,
   'longitude': -74.400046,
   'maxdate': '2020-12-24',
   'mindate': '2011-12-01',
   'name': 'EAST BRUNSWICK TWP 3.3 NNE, NJ US'},
  {'datacoverage': 0.9967,
   'elevation': 4,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0043',
   'latitude': 40.5554,
   'longitude': -74.274,
   'maxdate': '2021-07-19',
   'mindate': '2012-06-26',
   'name': 'WOODBRIDGE TWP 1.1 ESE, NJ US'},
  {'datacoverage': 0.6287,
   'elevation': 18,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0044',
   'latitude': 40.583514,
   'longitude': -74.419476,
   'maxdate': '2013-11-18',
   'mindate': '2012-07-06',
   'name': 'SOUTH PLAINFIELD 0.7 NNW, NJ US'},
  {'datacoverage': 0.9846,
   'elevation': 21.6,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0045',
   'latitude': 40.5759108,
   'longitude': -74.2846869,
   'maxdate': '2021-07-19',
   'mindate': '2012-09-01',
   'name': 'WOODBRIDGE TWP 1.1 NNE, NJ US'},
  {'datacoverage': 0.4563,
   'elevation': 21.9,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0050',
   'latitude': 40.6023256,
   'longitude': -74.3102058,
   'maxdate': '2021-07-18',
   'mindate': '2014-03-31',
   'name': 'WOODBRIDGE TWP 3.0 NNW, NJ US'},
  {'datacoverage': 0.5179,
   'elevation': 41.8,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0055',
   'latitude': 40.555778503418,
   'longitude': -74.3684387207031,
   'maxdate': '2015-03-05',
   'mindate': '2013-05-07',
   'name': 'EDISON TWP 1.4 N, NJ US'},
  {'datacoverage': 0.2207,
   'elevation': 41.8,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0058',
   'latitude': 40.456515,
   'longitude': -74.299361,
   'maxdate': '2015-10-12',
   'mindate': '2013-10-18',
   'name': 'SAYREVILLE 1.3 ESE, NJ US'},
  {'datacoverage': 0.448,
   'elevation': 21.3,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0060',
   'latitude': 40.4056892,
   'longitude': -74.2549286,
   'maxdate': '2021-07-18',
   'mindate': '2014-04-04',
   'name': 'MATAWAN 1.1 WSW, NJ US'},
  {'datacoverage': 0.9996,
   'elevation': 7.6,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0062',
   'latitude': 40.45623,
   'longitude': -74.241325,
   'maxdate': '2021-07-19',
   'mindate': '2014-08-18',
   'name': 'OLD BRIDGE TWP 5.1 NE, NJ US'},
  {'datacoverage': 0.3699,
   'elevation': 22.3,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0066',
   'latitude': 40.583541,
   'longitude': -74.410003,
   'maxdate': '2018-08-12',
   'mindate': '2015-09-29',
   'name': 'SOUTH PLAINFIELD 0.7 NNE, NJ US'},
  {'datacoverage': 0.8257,
   'elevation': 19.2,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0070',
   'latitude': 40.484742,
   'longitude': -74.41031,
   'maxdate': '2021-07-14',
   'mindate': '2015-12-29',
   'name': 'NEW BRUNSWICK 1.8 E, NJ US'},
  {'datacoverage': 0.5659,
   'elevation': 31.7,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0071',
   'latitude': 40.59638889,
   'longitude': -74.39472222,
   'maxdate': '2016-09-07',
   'mindate': '2016-03-10',
   'name': 'SOUTH PLAINFIELD 1.8 NE, NJ US'},
  {'datacoverage': 0.9636,
   'elevation': 9.1,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0073',
   'latitude': 40.581743,
   'longitude': -74.238792,
   'maxdate': '2019-12-03',
   'mindate': '2016-08-12',
   'name': 'CARTERET 0.6 WSW, NJ US'},
  {'datacoverage': 0.8287,
   'elevation': 36.3,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0074',
   'latitude': 40.50039,
   'longitude': -74.41942,
   'maxdate': '2021-07-18',
   'mindate': '2016-09-20',
   'name': 'HIGHLAND PARK 0.5 E, NJ US'},
  {'datacoverage': 0.8235,
   'elevation': 32.9,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0082',
   'latitude': 40.5419,
   'longitude': -74.35374,
   'maxdate': '2021-07-19',
   'mindate': '2018-02-14',
   'name': 'METUCHEN 0.5 E, NJ US'},
  {'datacoverage': 0.8943,
   'elevation': 14.9,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0086',
   'latitude': 40.50542,
   'longitude': -74.42978,
   'maxdate': '2021-07-19',
   'mindate': '2018-10-12',
   'name': 'HIGHLAND PARK 0.4 N, NJ US'},
  {'datacoverage': 0.7438,
   'elevation': 27.4,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0088',
   'latitude': 40.58884,
   'longitude': -74.37212,
   'maxdate': '2021-07-19',
   'mindate': '2018-11-21',
   'name': 'METUCHEN 3.3 N, NJ US'},
  {'datacoverage': 0.8259,
   'elevation': 28,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0093',
   'latitude': 40.4710131,
   'longitude': -74.3046563,
   'maxdate': '2021-07-19',
   'mindate': '2019-03-23',
   'name': 'SAYREVILLE 0.9 ENE, NJ US'},
  {'datacoverage': 0.901,
   'elevation': 7,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMD0098',
   'latitude': 40.4768,
   'longitude': -74.2781,
   'maxdate': '2021-07-15',
   'mindate': '2020-09-06',
   'name': 'SOUTH AMBOY 0.7 S, NJ US'},
  {'datacoverage': 0.9503,
   'elevation': 13.4,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMN0006',
   'latitude': 40.362199,
   'longitude': -74.083274,
   'maxdate': '2016-12-26',
   'mindate': '2008-03-27',
   'name': 'RED BANK 1.3 NW, NJ US'},
  {'datacoverage': 0.6247,
   'elevation': 25.6,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMN0007',
   'latitude': 40.407832,
   'longitude': -74.030542,
   'maxdate': '2009-04-08',
   'mindate': '2008-04-09',
   'name': 'ATLANTIC HIGHLANDS 0.2 S, NJ US'},
  {'datacoverage': 0.9546,
   'elevation': 12.8,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMN0010',
   'latitude': 40.3034,
   'longitude': -74.040017,
   'maxdate': '2021-07-18',
   'mindate': '2008-04-13',
   'name': 'EATONTOWN 1.2 NE, NJ US'},
  {'datacoverage': 0.5503,
   'elevation': 4.9,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMN0011',
   'latitude': 40.431269,
   'longitude': -74.12134,
   'maxdate': '2021-07-19',
   'mindate': '2013-06-19',
   'name': 'MIDDLETOWN TWP 3.6 NW, NJ US'},
  {'datacoverage': 0.4855,
   'elevation': 32.6,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMN0012',
   'latitude': 40.320403,
   'longitude': -74.19268,
   'maxdate': '2021-07-19',
   'mindate': '2008-05-07',
   'name': 'COLTS NECK TWP 2.4 NW, NJ US'},
  {'datacoverage': 0.8378,
   'elevation': 53.3,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMN0015',
   'latitude': 40.3773,
   'longitude': -74.1595,
   'maxdate': '2013-10-13',
   'mindate': '2008-05-02',
   'name': 'HOLMDEL TWP 0.7 E, NJ US'},
  {'datacoverage': 0.7197,
   'elevation': 4.9,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMN0029',
   'latitude': 40.42697787,
   'longitude': -74.10711536,
   'maxdate': '2012-02-01',
   'mindate': '2009-07-30',
   'name': 'MIDDLETOWN TWP 2.9 NNW, NJ US'},
  {'datacoverage': 0.8055,
   'elevation': 9.8,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMN0032',
   'latitude': 40.362702,
   'longitude': -74.031185,
   'maxdate': '2015-10-15',
   'mindate': '2009-09-11',
   'name': 'FAIR HAVEN 0.4 E, NJ US'},
  {'datacoverage': 0.328,
   'elevation': 5.8,
   'elevationUnit': 'METERS',
   'id': 'GHCND:US1NJMN0033',
   'latitude': 40.3292,
   'longitude': -73.9883,

In [61]:
type(response.json())

dict

In [55]:
# Guardamos los datos recopilados en un dataframe
stations = pd.DataFrame(response.json()['results'])[['id','name',
                                                     'latitude','longitude',
                                                     'elevation']]

In [56]:
stations.sample(10,random_state=17).head()

                   id                           name  ...  longitude  elevation
71  GHCND:US1NJMN0011   MIDDLETOWN TWP 3.6 NW, NJ US  ... -74.121340        4.9
28  GHCND:US1NJES0010       VERONA TWP 0.7 SW, NJ US  ... -74.253080      124.1
9   GHCND:US1NJBG0011  NORTH ARLINGTON 0.7 NE, NJ US  ... -74.119043        8.2
4   GHCND:US1NJBG0003           TENAFLY 1.3 W, NJ US  ... -73.977500       21.6
73  GHCND:US1NJMN0015       HOLMDEL TWP 0.7 E, NJ US  ... -74.159500       53.3

[5 rows x 5 columns]

In [48]:
stations

                   id  ... elevation
0   GHCND:US1CTFR0022  ...      36.6
1   GHCND:US1CTFR0039  ...       6.4
2   GHCND:US1NJBG0001  ...      20.1
3   GHCND:US1NJBG0002  ...      16.8
4   GHCND:US1NJBG0003  ...      21.6
..                ...  ...       ...
95  GHCND:US1NJMS0070  ...      75.0
96  GHCND:US1NJMS0075  ...      83.8
97  GHCND:US1NJMS0078  ...     149.0
98  GHCND:US1NJMS0089  ...     103.6
99  GHCND:US1NJMS0097  ...     119.8

[100 rows x 5 columns]

In [63]:
# Guardamos en CSV
stations.to_csv("stations.csv", index=False)

In [64]:
# guardamos en la base de datos
with sqlite3.connect('/content/weather.db') as connection:
  stations.to_sql(
      'stations', connection, index=False, if_exists = 'replace'
  )

In [66]:
# Cargamos los datos y los guardamos en un dataframe
with sqlite3.connect('/content/weather.db') as connection:
    snow_data_from_db = pd.read_sql(
        'SELECT * FROM weather WHERE datatype == "SNOW" AND value > 0 and station LIKE "%US1NY%"', 
        connection
    )

In [67]:
snow_data_from_db

                    date datatype            station attributes  value
0    2018-01-01T00:00:00     SNOW  GHCND:US1NYWC0019       ,,N,   25.0
1    2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0007       ,,N,   41.0
2    2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0018       ,,N,   10.0
3    2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0024       ,,N,   89.0
4    2018-01-04T00:00:00     SNOW  GHCND:US1NYNS0030       ,,N,  102.0
..                   ...      ...                ...        ...    ...
184  2018-11-16T00:00:00     SNOW  GHCND:US1NYRL0005       ,,N,  170.0
185  2018-11-16T00:00:00     SNOW  GHCND:US1NYWC0018       ,,N,  191.0
186  2018-12-14T00:00:00     SNOW  GHCND:US1NYWC0018       ,,N,    3.0
187  2018-12-24T00:00:00     SNOW  GHCND:US1NYWC0018       ,,N,   18.0
188  2018-12-30T00:00:00     SNOW  GHCND:US1NYWC0018       ,,N,    5.0

[189 rows x 5 columns]

In [81]:
# Otra forma de lanzar la consulta con un dataframe
snow_data = df.query('datatype == "SNOW" and value > 0 and station.str.contains("US1NY")')
snow_data.head()

TypeError: ignored

Esta consulta sería la equivalente en SQL
```{sql}
SELECT *
FROM weather
WHERE datatype == "SNOW" AND
  value > 0 AND
  station LIKE "%US1NY%"
  ```

In [80]:
# También podemos realizar la operación con Python
df[
   (df.datatype == 'SNOW')
   & (df.value > 0)
   & df.station.str.contains('US1NY')
].equals(snow_data_from_db)

False

## Merge Dataframe

In [82]:
station_info = pd.read_csv("/content/stations.csv")
station_info.head()

                  id                           name  ...  longitude  elevation
0  GHCND:US1CTFR0022        STAMFORD 2.6 SSW, CT US  ... -73.577000       36.6
1  GHCND:US1CTFR0039          STAMFORD 4.2 S, CT US  ... -73.568176        6.4
2  GHCND:US1NJBG0001      BERGENFIELD 0.3 SW, NJ US  ... -74.001983       20.1
3  GHCND:US1NJBG0002  SADDLE BROOK TWP 0.6 E, NJ US  ... -74.083358       16.8
4  GHCND:US1NJBG0003           TENAFLY 1.3 W, NJ US  ... -73.977500       21.6

[5 rows x 5 columns]

In [83]:
weather = pd.read_csv("/content/nyc_weather_2018.csv")
weather.head()

                  date datatype            station attributes  value
0  2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0

Para poder realizar correctamente un merge de dos tablas se requiere el check de los valores únicos

In [84]:
station_info.id.describe()

count                   100
unique                  100
top       GHCND:US1NJMN0011
freq                      1
Name: id, dtype: object

In [85]:
weather.station.describe()

count                 79974
unique                  113
top       GHCND:USW00094789
freq                   4270
Name: station, dtype: object

In [87]:
station_info.shape[0], weather.shape[0]

(100, 79974)

> Por defecto la función `merge()` contempla la unión **inner join**.

In [88]:
# Construimos una tabla con inner join
inner_join = weather.merge(station_info, left_on='station', right_on='id')
inner_join.sample(10, random_state=17)

                      date datatype  ...  longitude elevation
13982  2018-06-03T00:00:00     PRCP  ... -74.140926      29.0
4348   2018-03-14T00:00:00     SNWD  ... -74.235564     108.5
13623  2018-05-22T00:00:00     SNWD  ... -74.405465     103.6
5326   2018-03-01T00:00:00     PRCP  ... -74.274000       4.0
6050   2018-05-31T00:00:00     PRCP  ... -74.284687      21.6
11858  2018-10-12T00:00:00     PRCP  ... -74.390791      58.8
843    2018-12-07T00:00:00     PRCP  ... -74.139790      17.7
4749   2018-07-26T00:00:00     SNOW  ... -74.235564     108.5
13991  2018-06-10T00:00:00     SNOW  ... -74.140926      29.0
15889  2018-09-05T00:00:00     PRCP  ... -74.416369     149.0

[10 rows x 10 columns]

In [89]:
# OBservamos el resultado final y eliminaremos las columnas join
weather.merge(station_info.rename(dict(id='station'),axis=1), on='station').sample(10, random_state=17)

                      date datatype  ...  longitude elevation
13982  2018-06-03T00:00:00     PRCP  ... -74.140926      29.0
4348   2018-03-14T00:00:00     SNWD  ... -74.235564     108.5
13623  2018-05-22T00:00:00     SNWD  ... -74.405465     103.6
5326   2018-03-01T00:00:00     PRCP  ... -74.274000       4.0
6050   2018-05-31T00:00:00     PRCP  ... -74.284687      21.6
11858  2018-10-12T00:00:00     PRCP  ... -74.390791      58.8
843    2018-12-07T00:00:00     PRCP  ... -74.139790      17.7
4749   2018-07-26T00:00:00     SNOW  ... -74.235564     108.5
13991  2018-06-10T00:00:00     SNOW  ... -74.140926      29.0
15889  2018-09-05T00:00:00     PRCP  ... -74.416369     149.0

[10 rows x 9 columns]

In [90]:
inner_join.shape

(17929, 10)

In [91]:
# Operamos con left join
left_join = station_info.merge(weather, 
                               left_on='id', right_on='station',
                               how='left')

In [92]:
left_join.sample(10, random_state=17)

                      id                           name  ...  attributes  value
15517  GHCND:US1NJMS0049    FLORHAM PARK 0.2 WNW, NJ US  ...        ,,N,    4.3
2446   GHCND:US1NJBG0018  PALISADES PARK 0.2 WNW, NJ US  ...        ,,N,    0.0
2062   GHCND:US1NJBG0018  PALISADES PARK 0.2 WNW, NJ US  ...        ,,N,    0.0
11676  GHCND:US1NJMN0010        EATONTOWN 1.2 NE, NJ US  ...        ,,N,    0.0
14277  GHCND:US1NJMS0011          BOONTON 0.6 NW, NJ US  ...        ,,N,    0.0
3676   GHCND:US1NJBG0037       GLEN ROCK 0.4 WNW, NJ US  ...        ,,N,   17.8
2732   GHCND:US1NJBG0023         OAKLAND 0.9 SSE, NJ US  ...        ,,N,   33.3
1577   GHCND:US1NJBG0017       GLEN ROCK 0.7 SSE, NJ US  ...       T,,N,    0.0
8394   GHCND:US1NJMD0045  WOODBRIDGE TWP 1.1 NNE, NJ US  ...        ,,N,    0.0
11924  GHCND:US1NJMN0010        EATONTOWN 1.2 NE, NJ US  ...        ,,N,   14.7

[10 rows x 10 columns]

In [94]:
left_join.head()

                  id                     name  ...  attributes  value
0  GHCND:US1CTFR0022  STAMFORD 2.6 SSW, CT US  ...         NaN    NaN
1  GHCND:US1CTFR0039    STAMFORD 4.2 S, CT US  ...        ,,N,    0.0
2  GHCND:US1CTFR0039    STAMFORD 4.2 S, CT US  ...        ,,N,    0.0
3  GHCND:US1CTFR0039    STAMFORD 4.2 S, CT US  ...        ,,N,    0.0
4  GHCND:US1CTFR0039    STAMFORD 4.2 S, CT US  ...        ,,N,    2.0

[5 rows x 10 columns]

In [96]:
# operamos con right join
right_join = weather.merge(station_info, left_on='station',
                           right_on='id',how='right')

In [98]:
right_join.tail()

                      date datatype  ... longitude elevation
17973  2018-12-31T00:00:00     PRCP  ... -74.42552     119.8
17974  2018-12-31T00:00:00     SNOW  ... -74.42552     119.8
17975  2018-12-31T00:00:00     SNWD  ... -74.42552     119.8
17976  2018-12-31T00:00:00     WESD  ... -74.42552     119.8
17977  2018-12-31T00:00:00     WESF  ... -74.42552     119.8

[5 rows x 10 columns]

In [99]:
left_join.shape, right_join.shape

((17978, 10), (17978, 10))

In [102]:
# Los joins también son equivalentes con el formato SQL
with sqlite3.connect('/content/weather.db') as conn:
  inner_join_from_db = pd.read_sql(
      'SELECT * FROM weather JOIN stations ON weather.station == stations.id',
    conn
  )
inner_join_from_db.shape == inner_join.shape

True

In [103]:
# Operamos con la limpieza de datos sucios
dirty_data = pd.read_csv(
    'https://raw.githubusercontent.com/stefmolin/Hands-On-Data-Analysis-with-Pandas-2nd-edition/master/ch_04/data/dirty_data.csv',
    index_col='date'
).drop_duplicates().drop(columns='SNWD')
dirty_data.head()

                               station  PRCP  ...  WESF  inclement_weather
date                                          ...
2018-01-01T00:00:00                  ?   0.0  ...   NaN                NaN
2018-01-02T00:00:00  GHCND:USC00280907   0.0  ...   NaN              False
2018-01-03T00:00:00  GHCND:USC00280907   0.0  ...   NaN              False
2018-01-04T00:00:00                  ?  20.6  ...  19.3               True
2018-01-05T00:00:00                  ?   0.3  ...   NaN                NaN

[5 rows x 8 columns]

In [105]:
valid_station = dirty_data.query('station != "?"').drop(columns=['WESF', 'station'])
station_with_wesf = dirty_data.query('station == "?"').drop(columns=['station', 'TOBS', 'TMIN', 'TMAX'])

In [106]:
# Se procede con el join de los índices
valid_station.merge(
    station_with_wesf, how='left', left_index=True, right_index=True
).query('WESF > 0').head()

                     PRCP_x  SNOW_x  TMAX  ...  SNOW_y  WESF inclement_weather_y
date                                       ...
2018-01-30T00:00:00     0.0     0.0   6.7  ...    13.0   1.8                True
2018-03-08T00:00:00    48.8     NaN   1.1  ...     NaN  28.7                 NaN
2018-03-13T00:00:00     4.1    51.0   5.6  ...    13.0   3.0                True
2018-03-21T00:00:00     0.0     0.0   2.8  ...   114.0   8.6                True
2018-04-02T00:00:00     9.1   127.0  12.8  ...   152.0  15.2                True

[5 rows x 10 columns]