<a href="https://colab.research.google.com/github/talitacardenas/The_Bridge_School_DataScience_PT/blob/Develop/w1d1_Primer_Notebook_de_Jupyter_en_GoogleColab_120521.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Encabezado
## Encabezado tipo 2

Se llama ***Markdown***

1. Elemento de lista
2. Elemento de lista

En Jupyter oara ejecutar una celda tecleamos>

- Ctrl + Enter

O si queremos anadir una nueva línea de codigo y a la vez ejecutar
- Alt + Enter

In [ ]:
# Si quiero escribir un cmentario en una celda utilizamos el fragmento #
# Si sin más líneas también

30

In [ ]:
1 + 1

2

In [ ]:
print("Es resultado de una operacion es:" + suma)

NameError: ignored

Veamos que nos devolverá un error porque estamos intentando imorimir una cadena de texto y un valor numerico
La solucion seria trnsformar nuestro valor numerico en String

In [ ]:
print("El resultado de esta operacion es> + str (suma)")