In [1]:
from flask import Flask

In [2]:
import numpy as np

In [3]:
app = Flask("TheBridge_API")

In [4]:
app.run()

 * Serving Flask app 'TheBridge_API' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

## URL

`http://127.0.0.1:5000/`

![](https://qph.fs.quoracdn.net/main-qimg-1df2405abe09c3bac85c7491686e3073)

- SCHEME: `Protocol`
- PATH: `endpoint`
- QUERY STRING: `query params`

In [ ]:
@app.route("/")
def root():
  return {"Hello": "World!"}

In [ ]:
import requests

In [ ]:
url = 'https://api.wheretheiss.at/v1/satellites'

In [ ]:
response = requests.get(url)

In [ ]:
type(response)

requests.models.Response

In [ ]:
response.status_code

200

In [ ]:
info = response.json()
info

[{'id': 25544, 'name': 'iss'}]

In [ ]:
type(info)

list

In [ ]:
info[0]['id']

25544

In [ ]:
# PAra poder buscar la posici√≥n
url_iss_position = "https://api.wheretheiss.at/v1/satellites/25544"
response = requests.get(url_iss_position)
response.status_code

200

In [ ]:
response.json()

{'altitude': 421.70806461424,
 'daynum': 2459545.2840162,
 'footprint': 4516.143138161,
 'id': 25544,
 'latitude': 10.9757484928,
 'longitude': 81.808667010371,
 'name': 'iss',
 'solar_lat': -21.08335916324,
 'solar_lon': 254.62168322858,
 'timestamp': 1637952539,
 'units': 'kilometers',
 'velocity': 27575.079110174,
 'visibility': 'eclipsed'}

In [ ]:
response.headers

{'Date': 'Fri, 26 Nov 2021 18:48:59 GMT', 'Server': 'Apache/2.2.22 (Ubuntu)', 'X-Powered-By': 'PHP/5.3.10-1ubuntu3.26', 'X-Rate-Limit-Limit': '350', 'X-Rate-Limit-Remaining': '348', 'X-Rate-Limit-Interval': '5 minutes', 'Access-Control-Allow-Origin': '*', 'X-Apache-Time': 'D=21809', 'Cache-Control': 'max-age=0, no-cache', 'Content-Length': '308', 'Keep-Alive': 'timeout=15, max=100', 'Connection': 'Keep-Alive', 'Content-Type': 'application/json'}

In [ ]:
import time
positions = []
for i in range(10):
  print(i)
  response = requests.get(url_iss_position)
  data = response.json()
  positions.append(data)
  time.sleep(1)

0
1
2
3
4
5
6
7
8
9

In [ ]:
positions[0]

{'altitude': 421.99519133667,
 'daynum': 2459545.2871528,
 'footprint': 4517.6002013766,
 'id': 25544,
 'latitude': -2.7850886430147,
 'longitude': 91.633915656428,
 'name': 'iss',
 'solar_lat': -21.083936482113,
 'solar_lon': 253.49277005924,
 'timestamp': 1637952810,
 'units': 'kilometers',
 'velocity': 27572.315236779,
 'visibility': 'eclipsed'}

In [ ]:
import pandas as pd
pd.DataFrame(positions)

  name     id  latitude  ...  solar_lat   solar_lon       units
0  iss  25544 -2.785089  ... -21.083936  253.492770  kilometers
1  iss  25544 -2.886883  ... -21.083941  253.484439  kilometers
2  iss  25544 -2.937777  ... -21.083943  253.480273  kilometers
3  iss  25544 -3.039562  ... -21.083947  253.471942  kilometers
4  iss  25544 -3.090454  ... -21.083949  253.467776  kilometers
5  iss  25544 -3.192229  ... -21.083954  253.459444  kilometers
6  iss  25544 -3.243114  ... -21.083956  253.455279  kilometers
7  iss  25544 -3.344879  ... -21.083960  253.446947  kilometers
8  iss  25544 -3.395759  ... -21.083962  253.442781  kilometers
9  iss  25544 -3.497515  ... -21.083966  253.434450  kilometers

[10 rows x 13 columns]

## Pymongo

Pasos para local

In [ ]:
#!pip install dnspython

Collecting dnspython
  Downloading dnspython-2.1.0-py3-none-any.whl (241 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 241 kB 14.2 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.1.0

In [ ]:
#!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (3.12.1)

In [21]:
from pymongo import MongoClient

In [22]:
# Instanciamos la clase MongoClient al objeto client
client = MongoClient()

In [23]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [24]:
# utilizamos client.database
client.CusterTheBridge

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'CusterTheBridge')

In [25]:
# database.collection
# client.database.collection
db = client.CusterTheBridge
db.sample.airbnb

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'CusterTheBridge'), 'sample.airbnb')

> Pasos a realizar en MongoDB Atlas

In [ ]:
# Definir una funci√≥n para recoger las variables o credenciales
def get_creds(line=None):
    keys = []
    for l in line:
        keys.append(l.split("=")[1].splitlines(False)[0])
    return keys

In [ ]:
mongo_creds = open("/content/creds.txt", "r")
lines = mongo_creds.readlines()

In [ ]:
# user = get_creds(lines)[0]
# password = get_creds(lines)[1]
# dbName = "CusterTheBridge"

In [26]:
# creds = open("/content/creds.txt", "r")
# for line in creds:
#   pieces = line.split("=")
#   user = pieces[0]
#   password = pieces[1]
user = ""
password = ""
dbName = ""

In [34]:
# Conexi√≥n con el MongoCluster
client = MongoClient(f"mongodb://{user}:{password}@endpoint")

In [40]:
import pymongo

In [41]:
uri = "mongodb://endpoint"
client = pymongo.MongoClient(uri)

In [42]:
db = client.inventory
db

Database(MongoClient(host=['thebridgemongodb.mongo.cosmos.azure.com:10255'], document_class=dict, tz_aware=False, connect=True, ssl=True, retrywrites=False, replicaset='globaldb', maxidletimems=120000, appname='@thebridgemongodb@'), 'inventory')

In [43]:
items = {
    "Type" : "Laptop",
    "ItemNumber" : "1234EXD"
}

In [44]:
# creamos una collection de objetos
collection = db.items

In [45]:
collection.insert_one(items)