# 02. Challenge BigQuery

El objetivo es un fichero que contenga la siguiente información:
- Estado (string)
- B70: Nacimientos en la decada los 70 en ese estado (number)
- B80: Nacimientos en la decada los 80 en ese estado (number)
- B90: Nacimientos en la decada los 90 en ese estado (number)
- B00: Nacimientos en la decada los 2000 en ese estado (number)

Formato: .csv

In [ ]:
# # instalar bigquery 
# !pip install google-cloud-bigquery
# !pip install pyarrow -q

In [3]:
# importamos las librerías
from google.cloud import bigquery
from google.oauth2 import service_account
import pandas as pd
import pyarrow

In [4]:
creds = service_account.Credentials.from_service_account_file('.key/thebridgept0521-00ccc9a47591.json')

In [5]:
# introducimos el projectID
proj_id = 'thebridgept0521'

In [6]:
client = bigquery.Client(credentials=creds, project=proj_id)

In [7]:
# Creamos la primera query - ESTADO (string)
query_1 = """
  SELECT
    state AS estado
  FROM `bigquery-public-data.samples.natality`
  WHERE 
    state IS NOT NULL
  GROUP BY
    estado
  ORDER BY
    estado 
"""

In [8]:
query_job = client.query(query_1)
df_1 = query_job.to_dataframe()
df_1

   estado
0      AK
1      AL
2      AR
3      AZ
4      CA
5      CO
6      CT
7      DC
8      DE
9      FL
10     GA
11     HI
12     IA
13     ID
14     IL
15     IN
16     KS
17     KY
18     LA
19     MA
20     MD
21     ME
22     MI
23     MN
24     MO
25     MS
26     MT
27     NC
28     ND
29     NE
30     NH
31     NJ
32     NM
33     NV
34     NY
35     OH
36     OK
37     OR
38     PA
39     RI
40     SC
41     SD
42     TN
43     TX
44     UT
45     VA
46     VT
47     WA
48     WI
49     WV
50     WY

***
> Parte 2, incrementamos con la columna B70

In [9]:
# Creamos la primera query - B70 (number)
query_2 = """
  SELECT
    state AS estado,
    SUM(CASE WHEN year >= 1970 AND year < 1980 THEN plurality ELSE 0 END) AS B70
  FROM `bigquery-public-data.samples.natality`
  WHERE 
    state IS NOT NULL AND
    NOT IS_NAN(plurality) AND plurality >= 1
  GROUP BY
    estado
  ORDER BY
    estado 
"""

In [10]:
query_job = client.query(query_2)
df_2 = query_job.to_dataframe()
df_2

   estado      B70
0      AK    48276
1      AL   398119
2      AR   155656
3      AZ   185441
4      CA  1518173
5      CO   343789
6      CT   192834
7      DC    96745
8      DE    40340
9      FL   955244
10     GA   396584
11     HI    82951
12     IA   331453
13     ID   103207
14     IL  1323363
15     IN   479679
16     KS   257317
17     KY   384165
18     LA   516157
19     MA   446555
20     MD   346652
21     ME   133714
22     MI  1134230
23     MN   396088
24     MO   642805
25     MS   228926
26     MT    95604
27     NC   602306
28     ND    52106
29     NE   189281
30     NH   101397
31     NJ   478067
32     NM   100290
33     NV    66333
34     NY  1754585
35     OH  1007327
36     OK   307682
37     OR   279013
38     PA   803805
39     RI   105544
40     SC   363590
41     SD    52451
42     TN   493321
43     TX  1556553
44     UT   196786
45     VA   503267
46     VT    58972
47     WA   308038
48     WI   480352
49     WV   194716
50     WY    36432

***
> Lanzamos la consulta para obtener Male y Female

In [11]:
# Lanzamos la consulta para Male y Female
query_3 = """
  SELECT
    state AS estado,
    SUM(CASE WHEN year >= 1970 AND year < 1980 THEN plurality ELSE 0 END) AS B70,
    SUM(IF(is_male = TRUE, 1, 0)) AS Male,
    SUM(IF(is_male = FALSE, 1, 0)) AS Female

  FROM `bigquery-public-data.samples.natality`
  WHERE 
    state IS NOT NULL
  GROUP BY
    estado
  ORDER BY
    estado 
"""

In [12]:
query_job = client.query(query_3)
df_3 = query_job.to_dataframe()
df_3

   estado      B70     Male   Female
0      AK    48276   165902   158281
1      AL   398119  1001622   955770
2      AR   155656   544758   517830
3      AZ   185441   940155   897475
4      CA  1518173  7060826  6733288
5      CO   343789   931153   886844
6      CT   192834   690130   655935
7      DC    96745   268568   257548
8      DE    40340   152025   145144
9      FL   955244  2884483  2744405
10     GA   396584  1572575  1502298
11     HI    82951   290057   272152
12     IA   331453   701699   666628
13     ID   103207   293038   278635
14     IL  1323363  3089555  2942506
15     IN   479679  1368260  1299998
16     KS   257317   635616   603401
17     KY   384165   906518   858007
18     LA   516157  1220578  1169667
19     MA   446555  1340488  1274696
20     MD   346652  1049677  1002650
21     ME   133714   268875   255385
22     MI  1134230  2408170  2289536
23     MN   396088  1088399  1033035
24     MO   642805  1364694  1297657
25     MS   228926   678311   651008
26     MT    95604   206002   195855
27     NC   602306  1660994  1585796
28     ND    52106   158682   150958
29     NE   189281   428424   407553
30     NH   101397   246481   234502
31     NJ   478067  1697979  1617393
32     NM   100290   391143   377650
33     NV    66333   325609   310496
34     NY  1754585  4442246  4227891
35     OH  1007327  2638452  2508688
36     OK   307682   802456   761980
37     OR   279013   720675   684669
38     PA   803805  2509334  2388168
39     RI   105544   239922   227859
40     SC   363590   867699   829931
41     SD    52451   177405   169628
42     TN   493321  1279310  1214814
43     TX  1556553  5107542  4879247
44     UT   196786   653775   620153
45     VA   503267  1442789  1375159
46     VT    58972   125248   118844
47     WA   308038  1142967  1087293
48     WI   480352  1175734  1118620
49     WV   194716   416401   393693
50     WY    36432   112137   106598

In [13]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   estado  51 non-null     object
 1   B70     51 non-null     int64
 2   Male    51 non-null     int64
 3   Female  51 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.7+ KB

***
> Añadimos el campo Weight
este campo está en pounds y debemos convertirlo en kilos
la fórmula de conversión es :
- pounds * 0.453592

In [14]:
# Lanzamos la consulta para Weight
query_4 = """
  SELECT
    state AS estado,
    SUM(CASE WHEN year >= 1970 AND year < 1980 THEN plurality ELSE 0 END) AS B70,
    SUM(IF(is_male = TRUE, 1, 0)) AS Male,
    SUM(IF(is_male = FALSE, 1, 0)) AS Female,
    ROUND(AVG(weight_pounds * 0.453592),3) AS Weight

  FROM `bigquery-public-data.samples.natality`
  WHERE 
    state IS NOT NULL
  GROUP BY
    estado
  ORDER BY
    estado 
"""

In [15]:
query_job = client.query(query_4)
df_4 = query_job.to_dataframe()
df_4

   estado      B70     Male   Female  Weight
0      AK    48276   165902   158281   3.445
1      AL   398119  1001622   955770   3.279
2      AR   155656   544758   517830   3.298
3      AZ   185441   940155   897475   3.322
4      CA  1518173  7060826  6733288   3.359
5      CO   343789   931153   886844   3.213
6      CT   192834   690130   655935   3.337
7      DC    96745   268568   257548   3.200
8      DE    40340   152025   145144   3.312
9      FL   955244  2884483  2744405   3.299
10     GA   396584  1572575  1502298   3.274
11     HI    82951   290057   272152   3.266
12     IA   331453   701699   666628   3.415
13     ID   103207   293038   278635   3.365
14     IL  1323363  3089555  2942506   3.318
15     IN   479679  1368260  1299998   3.350
16     KS   257317   635616   603401   3.351
17     KY   384165   906518   858007   3.335
18     LA   516157  1220578  1169667   3.240
19     MA   446555  1340488  1274696   3.366
20     MD   346652  1049677  1002650   3.307
21     ME   133714   268875   255385   3.404
22     MI  1134230  2408170  2289536   3.336
23     MN   396088  1088399  1033035   3.420
24     MO   642805  1364694  1297657   3.329
25     MS   228926   678311   651008   3.239
26     MT    95604   206002   195855   3.344
27     NC   602306  1660994  1585796   3.293
28     ND    52106   158682   150958   3.409
29     NE   189281   428424   407553   3.373
30     NH   101397   246481   234502   3.417
31     NJ   478067  1697979  1617393   3.317
32     NM   100290   391143   377650   3.240
33     NV    66333   325609   310496   3.287
34     NY  1754585  4442246  4227891   3.300
35     OH  1007327  2638452  2508688   3.331
36     OK   307682   802456   761980   3.333
37     OR   279013   720675   684669   3.417
38     PA   803805  2509334  2388168   3.329
39     RI   105544   239922   227859   3.337
40     SC   363590   867699   829931   3.255
41     SD    52451   177405   169628   3.397
42     TN   493321  1279310  1214814   3.280
43     TX  1556553  5107542  4879247   3.307
44     UT   196786   653775   620153   3.323
45     VA   503267  1442789  1375159   3.319
46     VT    58972   125248   118844   3.376
47     WA   308038  1142967  1087293   3.418
48     WI   480352  1175734  1118620   3.396
49     WV   194716   416401   393693   3.322
50     WY    36432   112137   106598   3.261

In [21]:
# Creamos la primera query - B70 (number)
query_5 = """
  SELECT
    state AS estado,
    SUM(CASE WHEN year >= 1970 AND year < 1980 THEN plurality ELSE 0 END) AS B70,
    SUM(CASE WHEN year >= 1980 AND year < 1990 THEN plurality ELSE 0 END) AS B80,
    SUM(CASE WHEN year >= 1990 AND year < 2000 THEN plurality ELSE 0 END) AS B90,
    SUM(CASE WHEN year >= 2000 AND year < 2010 THEN plurality ELSE 0 END) AS B00,
    SUM(IF(is_male = TRUE, 1, 0)) AS Male,
    SUM(IF(is_male = FALSE, 1, 0)) AS Female,
    ROUND(AVG(weight_pounds * 0.453592),3) AS Weight

  FROM `bigquery-public-data.samples.natality`
  WHERE 
    state IS NOT NULL
  GROUP BY
    estado
  ORDER BY
    estado ASC
"""

In [22]:
query_job = client.query(query_5)
df_5 = query_job.to_dataframe()
df_5

   estado      B70      B80      B90      B00     Male   Female  Weight
0      AK    48276   115940   108529    51248   165902   158281   3.445
1      AL   398119   609026   625690   307853  1001622   955770   3.279
2      AR   155656   352438   354114   190290   544758   517830   3.298
3      AZ   185441   456361   746659   457491   940155   897475   3.322
4      CA  1518173  3704585  5777715  2760826  7060826  6733288   3.359
5      CO   343789   550768   577420   351190   931153   886844   3.213
6      CT   192834   444494   472922   224822   690130   655935   3.337
7      DC    96745   157230   181912    77749   268568   257548   3.200
8      DE    40340    78237   115477    61412   152025   145144   3.312
9      FL   955244  1634827  1985827  1080263  2884483  2744405   3.299
10     GA   396584   767781  1190884   702780  1572575  1502298   3.274
11     HI    82951   190414   193037    91284   290057   272152   3.266
12     IA   331453   432782   389978   197368   701699   666628   3.415
13     ID   103207   178660   181449   106856   293038   278635   3.365
14     IL  1323363  1839213  1900163   932018  3089555  2942506   3.318
15     IN   479679   839705   866599   450411  1368260  1299998   3.350
16     KS   257317   394933   374531   205054   635616   603401   3.351
17     KY   384165   548468   535425   276845   906518   858007   3.335
18     LA   516157   812624   704178   341040  1220578  1169667   3.240
19     MA   446555   839879   882932   427506  1340488  1274696   3.366
20     MD   346652   623456   713930   362536  1049677  1002650   3.307
21     ME   133714   164882   149884    70164   268875   255385   3.404
22     MI  1134230  1415354  1422396   678850  2408170  2289536   3.336
23     MN   396088   685526   670412   356682  1088399  1033035   3.420
24     MO   642805   799573   803241   402504  1364694  1297657   3.329
25     MS   228926   443559   427019   214242   678311   651008   3.239
26     MT    95604   132741   112686    57615   206002   195855   3.344
27     NC   602306   922268  1088672   618886  1660994  1585796   3.293
28     ND    52106   106610   100469    46850   158682   150958   3.409
29     NE   189281   265096   245743   133141   428424   407553   3.373
30     NH   101397   154601   151162    72579   246481   234502   3.417
31     NJ   478067  1050953  1177315   587944  1697979  1617393   3.317
32     NM   100290   246055   275903   139290   391143   377650   3.240
33     NV    66333   158472   251541   166674   325609   310496   3.287
34     NY  1754585  2663879  2842766  1325277  4442246  4227891   3.300
35     OH  1007327  1662890  1629041   785460  2638452  2508688   3.331
36     OK   307682   519971   474967   253907   802456   761980   3.333
37     OR   279013   426464   458581   239892   720675   684669   3.417
38     PA   803805  1663785  1612894   750887  2509334  2388168   3.329
39     RI   105544   140352   148185    70596   239922   227859   3.337
40     SC   363590   514216   535465   275321   867699   829931   3.255
41     SD    52451   123520   110591    57712   177405   169628   3.397
42     TN   493321   738546   815020   434255  1279310  1214814   3.280
43     TX  1556553  3086416  3399426  1942794  5107542  4879247   3.307
44     UT   196786   402095   420895   257974   653775   620153   3.323
45     VA   503267   843345   952337   508651  1442789  1375159   3.319
46     VT    58972    79836    70688    32089   125248   118844   3.376
47     WA   308038   709193   793665   411636  1142967  1087293   3.418
48     WI   480352   740484   700534   352650  1175734  1118620   3.396
49     WV   194716   262557   230303   109724   416401   393693   3.322
50     WY    36432    87313    62036    30892   112137   106598   3.261

In [19]:
type(df_5)

pandas.core.frame.DataFrame

In [23]:
# exportamos
df_5.to_csv('structureBQ_Wrace.csv')

In [24]:
query_childrace = """
    SELECT DISTINCT child_race
    FROM `bigquery-public-data.samples.natality`
  WHERE 
    child_race IS NOT NULL
  GROUP BY
    child_race
  ORDER BY
    child_race ASC
    
"""

In [25]:
query_job = client.query(query_childrace)
child_race = query_job.to_dataframe()
child_race

    child_race
0            1
1            2
2            3
3            4
4            5
5            6
6            7
7            9
8           18
9           28
10          38
11          48
12          58

In [35]:
# construimos el Race70
query_6 = """
    SELECT
    state AS estado70,
    COUNT(*) AS counter70,
    (CASE
        WHEN child_race = 1 THEN "White"
        WHEN child_race = 2 THEN "Black"
        ELSE "Other"
        END) AS race70
    FROM `bigquery-public-data.samples.natality`
  WHERE 
    child_race IS NOT NULL AND year >= 1970 AND year < 1980
  GROUP BY
    estado70, race70
  ORDER BY
    counter70 DESC
    LIMIT 1

"""

In [36]:
query_job = client.query(query_6)
race70 = query_job.to_dataframe()
race70

  estado70  counter70 race70
0       NY    1503779  White