# Instalación de los paquetes Java y Pyspark

In [2]:
!pip install pyspark
!pip install -U -q PyDrive
!apt install openjdk-8-jdk-headless -qq
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 65 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 58.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=2070006d4ef2117c794999a92fcb6590116ad0d9aff42837bfd51161b918acb2
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2
The following additional packages will be installed:
  openjdk-8-jre-headless
Suggested packages:
  openjdk-8-demo openjdk-8-source libnss-mdns fonts-dejavu-extra
  fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei
  fonts-wqy-zenhei fonts-indic
The following NEW packages will be installed:
  openjdk-8-jdk-headless openjdk-8-jre-headless
0 upgraded, 2 newly installed, 0 to remove and 37 not upgraded.
Need to get 36.5 MB of archives.
After this operation, 143 MB of additional disk space will be used.
Selecting previously unselected package openjdk-8-jre-headless:amd64.
(Reading database ... 155047 files and directories currently installed.)
Preparing to unpack .../openjdk-8-jre-headless_8u292-b10-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u292-b10-0ubuntu1~18.04) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../openjdk-8-jdk-headless_8u292-b10-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u292-b10-0ubuntu1~18.04) ...
Setting up openjdk-8-jre-headless:amd64 (8u292-b10-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up openjdk-8-jdk-headless:amd64 (8u292-b10-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode

## Importación de las librerías

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import pyspark
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark import SparkContext, SparkConf

In [4]:
# Creamos la configuración de sesión
conf = SparkConf().set("spark.ui.port", "4050")

# creación del SparkContext
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession.builder \
        .master("local") \
        .appName("Google colab - The Bridge") \
        .config("spark.ui.port", "4050") \
        .getOrCreate()

In [25]:
# Para monitorizar al puerto 4050 de spark
#!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip ngrok-stable-linux-amd64.zip
get_ipython().system_raw('./ngrok http 4050 &')
!curl -s http://localhost:4040/api/tunnels

Archive:  ngrok-stable-linux-amd64.zip
replace ngrok? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: ngrok
{"tunnels":[{"name":"command_line (http)","uri":"/api/tunnels/command_line%20%28http%29","public_url":"http://b7ea-35-245-31-45.ngrok.io","proto":"http","config":{"addr":"http://localhost:4050","inspect":true},"metrics":{"conns":{"count":0,"gauge":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0},"http":{"count":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0}}},{"name":"command_line","uri":"/api/tunnels/command_line","public_url":"https://b7ea-35-245-31-45.ngrok.io","proto":"https","config":{"addr":"http://localhost:4050","inspect":true},"metrics":{"conns":{"count":0,"gauge":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0},"http":{"count":0,"rate1":0,"rate5":0,"rate15":0,"p50":0,"p90":0,"p95":0,"p99":0}}}],"uri":"/api/tunnels"}

## Importamos nuestro dataset

Conviene leer la documentación de `spark.read` https://spark.apache.org/docs/latest/sql-data-sources-load-save-functions.html

In [28]:
!wget https://github.com/marcusRB/The_Bridge_School_DataScience_PT/blob/main/02_DataAnalysis/dataset/train_oSwQCTC.zip

--2021-10-02 08:14:37--  https://github.com/marcusRB/The_Bridge_School_DataScience_PT/blob/main/02_DataAnalysis/dataset/train_oSwQCTC.zip
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘train_oSwQCTC.zip’

train_oSwQCTC.zip       [ <=>                ] 129.75K  --.-KB/s    in 0.007s

2021-10-02 08:14:37 (18.7 MB/s) - ‘train_oSwQCTC.zip’ saved [132859]

In [10]:
!unzip /content/train_oSwQCTC.zip

Archive:  /content/train_oSwQCTC.zip
  inflating: train.csv

## Funciones básicas de SparkSQL - Dataframe

https://spark.apache.org/docs/latest/sql-programming-guide.html

In [11]:
# Creamos nuestro dataframe
df = spark.read.csv("/content/train.csv", header=True, inferSchema=True)

In [29]:
# Comprobar el tipo de objeto
type(df)

pyspark.sql.dataframe.DataFrame

In [31]:
df_pandas = pd.read_csv("/content/train.csv")
type(df_pandas)

pandas.core.frame.DataFrame

In [32]:
df_pandas.head()

   User_ID Product_ID Gender  ... Product_Category_2  Product_Category_3 Purchase
0  1000001  P00069042      F  ...                NaN                 NaN     8370
1  1000001  P00248942      F  ...                6.0                14.0    15200
2  1000001  P00087842      F  ...                NaN                 NaN     1422
3  1000001  P00085442      F  ...               14.0                 NaN     1057
4  1000002  P00285442      M  ...                NaN                 NaN     7969

[5 rows x 12 columns]

In [33]:
df.show()

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F| 0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F| 0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F| 0-17|        10|            A|                         2|             0|                12|              null|              null|    1422|
|1000001| P00085442|     F| 0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|
|1000002| P00285442|     M|  55+|        16|            C|                        4+|             0|                 8|              null|              null|    7969|
|1000003| P00193542|     M|26-35|        15|            A|                         3|             0|                 1|                 2|              null|   15227|
|1000004| P00184942|     M|46-50|         7|            B|                         2|             1|                 1|                 8|                17|   19215|
|1000004| P00346142|     M|46-50|         7|            B|                         2|             1|                 1|                15|              null|   15854|
|1000004|  P0097242|     M|46-50|         7|            B|                         2|             1|                 1|                16|              null|   15686|
|1000005| P00274942|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null|    7871|
|1000005| P00251242|     M|26-35|        20|            A|                         1|             1|                 5|                11|              null|    5254|
|1000005| P00014542|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null|    3957|
|1000005| P00031342|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null|    6073|
|1000005| P00145042|     M|26-35|        20|            A|                         1|             1|                 1|                 2|                 5|   15665|
|1000006| P00231342|     F|51-55|         9|            A|                         1|             0|                 5|                 8|                14|    5378|
|1000006| P00190242|     F|51-55|         9|            A|                         1|             0|                 4|                 5|              null|    2079|
|1000006|  P0096642|     F|51-55|         9|            A|                         1|             0|                 2|                 3|                 4|   13055|
|1000006| P00058442|     F|51-55|         9|            A|                         1|             0|                 5|                14|              null|    8851|
|1000007| P00036842|     M|36-45|         1|            B|                         1|             1|                 1|                14|                16|   11788|
|1000008| P00249542|     M|26-35|        12|            C|                        4+|             1|                 1|                 5|                15|   19614|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 20 rows

In [12]:
# Para poder observar el esquema de spark con printSchema()
df.printSchema()

root
 |-- User_ID: integer (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: integer (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: integer (nullable = true)
 |-- Product_Category_1: integer (nullable = true)
 |-- Product_Category_2: integer (nullable = true)
 |-- Product_Category_3: integer (nullable = true)
 |-- Purchase: integer (nullable = true)

In [13]:
# muestra los datos con datraframe.show()
df.show()

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F| 0-17|        10|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|     F| 0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F| 0-17|        10|            A|                         2|             0|                12|              null|              null|    1422|
|1000001| P00085442|     F| 0-17|        10|            A|                         2|             0|                12|                14|              null|    1057|
|1000002| P00285442|     M|  55+|        16|            C|                        4+|             0|                 8|              null|              null|    7969|
|1000003| P00193542|     M|26-35|        15|            A|                         3|             0|                 1|                 2|              null|   15227|
|1000004| P00184942|     M|46-50|         7|            B|                         2|             1|                 1|                 8|                17|   19215|
|1000004| P00346142|     M|46-50|         7|            B|                         2|             1|                 1|                15|              null|   15854|
|1000004|  P0097242|     M|46-50|         7|            B|                         2|             1|                 1|                16|              null|   15686|
|1000005| P00274942|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null|    7871|
|1000005| P00251242|     M|26-35|        20|            A|                         1|             1|                 5|                11|              null|    5254|
|1000005| P00014542|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null|    3957|
|1000005| P00031342|     M|26-35|        20|            A|                         1|             1|                 8|              null|              null|    6073|
|1000005| P00145042|     M|26-35|        20|            A|                         1|             1|                 1|                 2|                 5|   15665|
|1000006| P00231342|     F|51-55|         9|            A|                         1|             0|                 5|                 8|                14|    5378|
|1000006| P00190242|     F|51-55|         9|            A|                         1|             0|                 4|                 5|              null|    2079|
|1000006|  P0096642|     F|51-55|         9|            A|                         1|             0|                 2|                 3|                 4|   13055|
|1000006| P00058442|     F|51-55|         9|            A|                         1|             0|                 5|                14|              null|    8851|
|1000007| P00036842|     M|36-45|         1|            B|                         1|             1|                 1|                14|                16|   11788|
|1000008| P00249542|     M|26-35|        12|            C|                        4+|             1|                 1|                 5|                15|   19614|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 20 rows

In [14]:
df.show(5, True, True) # para leerlo en vertical

-RECORD 0-------------------------------
 User_ID                    | 1000001
 Product_ID                 | P00069042
 Gender                     | F
 Age                        | 0-17
 Occupation                 | 10
 City_Category              | A
 Stay_In_Current_City_Years | 2
 Marital_Status             | 0
 Product_Category_1         | 3
 Product_Category_2         | null
 Product_Category_3         | null
 Purchase                   | 8370
-RECORD 1-------------------------------
 User_ID                    | 1000001
 Product_ID                 | P00248942
 Gender                     | F
 Age                        | 0-17
 Occupation                 | 10
 City_Category              | A
 Stay_In_Current_City_Years | 2
 Marital_Status             | 0
 Product_Category_1         | 1
 Product_Category_2         | 6
 Product_Category_3         | 14
 Purchase                   | 15200
-RECORD 2-------------------------------
 User_ID                    | 1000001
 Product_ID                 | P00087842
 Gender                     | F
 Age                        | 0-17
 Occupation                 | 10
 City_Category              | A
 Stay_In_Current_City_Years | 2
 Marital_Status             | 0
 Product_Category_1         | 12
 Product_Category_2         | null
 Product_Category_3         | null
 Purchase                   | 1422
-RECORD 3-------------------------------
 User_ID                    | 1000001
 Product_ID                 | P00085442
 Gender                     | F
 Age                        | 0-17
 Occupation                 | 10
 City_Category              | A
 Stay_In_Current_City_Years | 2
 Marital_Status             | 0
 Product_Category_1         | 12
 Product_Category_2         | 14
 Product_Category_3         | null
 Purchase                   | 1057
-RECORD 4-------------------------------
 User_ID                    | 1000002
 Product_ID                 | P00285442
 Gender                     | M
 Age                        | 55+
 Occupation                 | 16
 City_Category              | C
 Stay_In_Current_City_Years | 4+
 Marital_Status             | 0
 Product_Category_1         | 8
 Product_Category_2         | null
 Product_Category_3         | null
 Purchase                   | 7969
only showing top 5 rows

In [15]:
df.show(5, False, False)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|Age |Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001|P00069042 |F     |0-17|10        |A            |2                         |0             |3                 |null              |null              |8370    |
|1000001|P00248942 |F     |0-17|10        |A            |2                         |0             |1                 |6                 |14                |15200   |
|1000001|P00087842 |F     |0-17|10        |A            |2                         |0             |12                |null              |null              |1422    |
|1000001|P00085442 |F     |0-17|10        |A            |2                         |0             |12                |14                |null              |1057    |
|1000002|P00285442 |M     |55+ |16        |C            |4+                        |0             |8                 |null              |null              |7969    |
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [34]:
df.head(5)

[Row(User_ID=1000001, Product_ID='P00069042', Gender='F', Age='0-17', Occupation=10, City_Category='A', Stay_In_Current_City_Years='2', Marital_Status=0, Product_Category_1=3, Product_Category_2=None, Product_Category_3=None, Purchase=8370),
 Row(User_ID=1000001, Product_ID='P00248942', Gender='F', Age='0-17', Occupation=10, City_Category='A', Stay_In_Current_City_Years='2', Marital_Status=0, Product_Category_1=1, Product_Category_2=6, Product_Category_3=14, Purchase=15200),
 Row(User_ID=1000001, Product_ID='P00087842', Gender='F', Age='0-17', Occupation=10, City_Category='A', Stay_In_Current_City_Years='2', Marital_Status=0, Product_Category_1=12, Product_Category_2=None, Product_Category_3=None, Purchase=1422),
 Row(User_ID=1000001, Product_ID='P00085442', Gender='F', Age='0-17', Occupation=10, City_Category='A', Stay_In_Current_City_Years='2', Marital_Status=0, Product_Category_1=12, Product_Category_2=14, Product_Category_3=None, Purchase=1057),
 Row(User_ID=1000002, Product_ID='P00285442', Gender='M', Age='55+', Occupation=16, City_Category='C', Stay_In_Current_City_Years='4+', Marital_Status=0, Product_Category_1=8, Product_Category_2=None, Product_Category_3=None, Purchase=7969)]

In [35]:
type(df)

pyspark.sql.dataframe.DataFrame

In [17]:
df.count()

550068

In [18]:
# visualizar algunas de las columnas
subset_1 = df \
  .select("User_ID", "Gender", "Age", "Occupation")

In [19]:
# Observamos el tipo de objeto creado
type(subset_1)

pyspark.sql.dataframe.DataFrame

In [20]:
# en este caso mostramos las 10 primeras filas
subset_1.show(10)

+-------+------+-----+----------+
|User_ID|Gender|  Age|Occupation|
+-------+------+-----+----------+
|1000001|     F| 0-17|        10|
|1000001|     F| 0-17|        10|
|1000001|     F| 0-17|        10|
|1000001|     F| 0-17|        10|
|1000002|     M|  55+|        16|
|1000003|     M|26-35|        15|
|1000004|     M|46-50|         7|
|1000004|     M|46-50|         7|
|1000004|     M|46-50|         7|
|1000005|     M|26-35|        20|
+-------+------+-----+----------+
only showing top 10 rows

In [21]:
# describimos las columnas
df \
  .describe() \
  .show(10)

+-------+------------------+----------+------+------+-----------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+
|summary|           User_ID|Product_ID|Gender|   Age|       Occupation|City_Category|Stay_In_Current_City_Years|     Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|         Purchase|
+-------+------------------+----------+------+------+-----------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+
|  count|            550068|    550068|550068|550068|           550068|       550068|                    550068|             550068|            550068|            376430|            166821|           550068|
|   mean|1003028.8424013031|      null|  null|  null|8.076706879876669|         null|         1.468494139793958|0.40965298835780306| 5.404270017525106| 9.842329251122386|12.668243206790512|9263.968712959126|
| stddev|1727.5915855313747|      null|  null|  null|6.522660487341741|         null|        0.9890866807573103| 0.4917701263173315| 3.936211369201365| 5.086589648693497| 4.125337631575274|5023.065393820575|
|    min|           1000001| P00000142|     F|  0-17|                0|            A|                         0|                  0|                 1|                 2|                 3|               12|
|    max|           1006040|  P0099942|     M|   55+|               20|            C|                        4+|                  1|                20|                18|                18|            23961|
+-------+------------------+----------+------+------+-----------------+-------------+--------------------------+-------------------+------------------+------------------+------------------+-----------------+

### Funciones en Spark
https://spark.apache.org/docs/2.1.0/api/python/pyspark.sql.html?highlight=sparksession#module-pyspark.sql.functions

In [36]:
# Importamos las funciones de pyspark
from pyspark.sql import functions as F

In [41]:
# Realizamos una agregación con groupBy con la función de agregación agg() y sum()
df \
  .groupBy("City_Category") \
  .agg(F.sum("Purchase")) \
  .show(5)

+-------------+-------------+
|City_Category|sum(Purchase)|
+-------------+-------------+
|            B|   2115533605|
|            C|   1663807476|
|            A|   1316471661|
+-------------+-------------+

In [42]:
# lo mismo anterior solamente con la función nativa de Python sum()
df \
  .groupBy("City_Category") \
  .agg(sum("Purchase")) \
  .show(5)

+-------------+-------------+
|City_Category|sum(Purchase)|
+-------------+-------------+
|            B|   2115533605|
|            C|   1663807476|
|            A|   1316471661|
+-------------+-------------+

In [46]:
# Operación de conteo y eliminación de valores nulos
df \
  .select([F.count(F.when(F.isnull(c), c)) \
           .alias(c) for c in df.columns]) \
  .show(5, False, True)

-RECORD 0----------------------------
 User_ID                    | 0
 Product_ID                 | 0
 Gender                     | 0
 Age                        | 0
 Occupation                 | 0
 City_Category              | 0
 Stay_In_Current_City_Years | 0
 Marital_Status             | 0
 Product_Category_1         | 0
 Product_Category_2         | 173638
 Product_Category_3         | 383247
 Purchase                   | 0

In [50]:
# utilizamos fillna()
df = df \
        .fillna({'Product_Category_2':0,
                 'Product_Category_3':0})

In [52]:
# verificando los cambios efectuados
df \
  .select([F.count(F.when(F.isnull(c), c)) \
           .alias(c) for c in df.columns]) \
  .show(5, False, True)

-RECORD 0-------------------------
 User_ID                    | 0
 Product_ID                 | 0
 Gender                     | 0
 Age                        | 0
 Occupation                 | 0
 City_Category              | 0
 Stay_In_Current_City_Years | 0
 Marital_Status             | 0
 Product_Category_1         | 0
 Product_Category_2         | 0
 Product_Category_3         | 0
 Purchase                   | 0

## Manipulación de ficheros en Spark

In [56]:
# Realizando una escritura en nuestra carpeta content
df \
  .write.csv(
      "/content/preprocessed_data"
  )

In [57]:
df.write.csv("/content/drive/My Drive/preprocessed_data")

In [58]:
df.rdd.getNumPartitions() # comprobación de porque tenemos dos ficheros particionados en nuestra carpeta 
# content, el número de particiones configurado en SparkConf es 2.

2

In [59]:
# En pandas realizamos la escritura en un solo fichero
df_pd = df.toPandas()
df_pd.to_csv("pandas_preprocessed_data.csv")

In [60]:
# Escritura en format parquet
df.write.parquet("/content/parquet_preprocessed_data")

In [64]:
pq = spark.read.parquet("/content/parquet_preprocessed_data/")
pq.show(5)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|                 0|                 0|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|                 0|                 0|    1422|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|                 0|    1057|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|                 0|                 0|    7969|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

In [70]:
df_orc = df.write.orc("/content/orc_preprocessed_data/",mode="append")

In [67]:
spark.read.orc("/content/orc_preprocessed_data/").show(5)

+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender| Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|     F|0-17|        10|            A|                         2|             0|                 3|                 0|                 0|    8370|
|1000001| P00248942|     F|0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|     F|0-17|        10|            A|                         2|             0|                12|                 0|                 0|    1422|
|1000001| P00085442|     F|0-17|        10|            A|                         2|             0|                12|                14|                 0|    1057|
|1000002| P00285442|     M| 55+|        16|            C|                        4+|             0|                 8|                 0|                 0|    7969|
+-------+----------+------+----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 5 rows

## Utilizando la sintaxis de SQL

In [71]:
# Crear tablas temporaneas
df.createOrReplaceTempView("tabla_temporanea")

In [73]:
spark.sql("""
  SELECT count(*) FROM tabla_temporanea
  """
  ).show(5)

+--------+
|count(1)|
+--------+
|  550068|
+--------+

In [79]:
spark.sql("""
SELECT * FROM tabla_temporanea LIMIT 5;
""").show(5, False, True)

-RECORD 0-------------------------------
 User_ID                    | 1000001
 Product_ID                 | P00069042
 Gender                     | F
 Age                        | 0-17
 Occupation                 | 10
 City_Category              | A
 Stay_In_Current_City_Years | 2
 Marital_Status             | 0
 Product_Category_1         | 3
 Product_Category_2         | 0
 Product_Category_3         | 0
 Purchase                   | 8370
-RECORD 1-------------------------------
 User_ID                    | 1000001
 Product_ID                 | P00248942
 Gender                     | F
 Age                        | 0-17
 Occupation                 | 10
 City_Category              | A
 Stay_In_Current_City_Years | 2
 Marital_Status             | 0
 Product_Category_1         | 1
 Product_Category_2         | 6
 Product_Category_3         | 14
 Purchase                   | 15200
-RECORD 2-------------------------------
 User_ID                    | 1000001
 Product_ID                 | P00087842
 Gender                     | F
 Age                        | 0-17
 Occupation                 | 10
 City_Category              | A
 Stay_In_Current_City_Years | 2
 Marital_Status             | 0
 Product_Category_1         | 12
 Product_Category_2         | 0
 Product_Category_3         | 0
 Purchase                   | 1422
-RECORD 3-------------------------------
 User_ID                    | 1000001
 Product_ID                 | P00085442
 Gender                     | F
 Age                        | 0-17
 Occupation                 | 10
 City_Category              | A
 Stay_In_Current_City_Years | 2
 Marital_Status             | 0
 Product_Category_1         | 12
 Product_Category_2         | 14
 Product_Category_3         | 0
 Purchase                   | 1057
-RECORD 4-------------------------------
 User_ID                    | 1000002
 Product_ID                 | P00285442
 Gender                     | M
 Age                        | 55+
 Occupation                 | 16
 City_Category              | C
 Stay_In_Current_City_Years | 4+
 Marital_Status             | 0
 Product_Category_1         | 8
 Product_Category_2         | 0
 Product_Category_3         | 0
 Purchase                   | 7969

In [84]:
df_sql = spark.sql("""
SELECT Occupation, City_Category, Marital_Status FROM tabla_temporanea
""")

In [85]:
df_sql.show(5)

+----------+-------------+--------------+
|Occupation|City_Category|Marital_Status|
+----------+-------------+--------------+
|        10|            A|             0|
|        10|            A|             0|
|        10|            A|             0|
|        10|            A|             0|
|        16|            C|             0|
+----------+-------------+--------------+
only showing top 5 rows

In [86]:
type(df_sql)

pyspark.sql.dataframe.DataFrame

In [81]:
spark.sql("SHOW TABLES;").show()

+--------+----------------+-----------+
|database|       tableName|isTemporary|
+--------+----------------+-----------+
|        |tabla_temporanea|       true|
+--------+----------------+-----------+

In [82]:
spark.sql("SHOW DATABASES").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [88]:
spark.sql("DESCRIBE tabla_temporanea").show()

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|             User_ID|      int|   null|
|          Product_ID|   string|   null|
|              Gender|   string|   null|
|                 Age|   string|   null|
|          Occupation|      int|   null|
|       City_Category|   string|   null|
|Stay_In_Current_C...|   string|   null|
|      Marital_Status|      int|   null|
|  Product_Category_1|      int|   null|
|  Product_Category_2|      int|   null|
|  Product_Category_3|      int|   null|
|            Purchase|      int|   null|
+--------------------+---------+-------+

In [92]:
spark.sql("DESCRIBE TABLE EXTENDED tabla_temporanea").show()

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|             User_ID|      int|   null|
|          Product_ID|   string|   null|
|              Gender|   string|   null|
|                 Age|   string|   null|
|          Occupation|      int|   null|
|       City_Category|   string|   null|
|Stay_In_Current_C...|   string|   null|
|      Marital_Status|      int|   null|
|  Product_Category_1|      int|   null|
|  Product_Category_2|      int|   null|
|  Product_Category_3|      int|   null|
|            Purchase|      int|   null|
+--------------------+---------+-------+